@import '~@tds/core-colours/colours';
@import '../../../shared/scss/typography';

.item {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    left: -2rem;
    font-family: $font-icons;
  }
}

.circle {
  composes: item;

  &::before {
    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjUwIiBmaWxsPSIjNGIyODZkIiAvPjwvc3ZnPg==);
    color: $color-telus-purple;
  }
  &.small {
    &::before {
      width: 0.25rem; // ~4px
      height: 0.25rem; // ~4px
      top: 0.63rem;
    }
  }

  &.medium {
    &::before {
      width: 0.31rem; // ~5px
      height: 0.31rem; // ~5px
      top: 0.65rem;
    }
  }

  &.large {
    &::before {
      width: 0.37rem; // ~6px
      height: 0.37rem; // ~6px
      top: 0.87rem;
    }
  }
}

.checkmark {
  composes: item;

  &::before {
    font-size: 1.05rem;
    content: '\f101';
    color: $color-primary;
  }
}

.x {
  composes: item;

  &::before {
    font-size: 1.05rem;
    content: '\f104';
    color: $color-cardinal;
  }
}

.small {
  &::before {
    line-height: 1.6rem;
  }
}

.medium {
  &::before {
    line-height: 1.6rem;
  }
}

.large {
  &::before {
    line-height: 2.1rem;
  }
}
