@import '~@tds/core-colours/colours';
@import '../../../shared/scss/typography';

.item {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    left: -2rem;
    font-family: $font-icons;
  }
}

.circle {
  composes: item;

  &::before {
    content: '\002022';
    color: $color-telus-purple;
  }
  &.small {
    &::before {
      font-size: 12px;
    }
  }

  &.medium {
    &::before {
      font-size: 15px;
    }
  }

  &.large {
    &::before {
      font-size: 18px;
    }
  }
}

.checkmark {
  composes: item;

  &::before {
    font-size: 0.9rem;
    content: '\f101';
    color: $color-primary;
  }
}

.x {
  composes: item;

  &::before {
    font-size: 0.9rem;
    content: '\f104';
    color: $color-cardinal;
  }
}

.small {
  &::before {
    line-height: 1.6rem;
  }
}

.medium {
  &::before {
    line-height: 1.6rem;
  }
}

.large {
  &::before {
    line-height: 2.1rem;
  }
}
