@font-face {
  font-family: 'TELUS-Web';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.telus.digital/thorium/core/fonts/etext/b8765d4b-d9a3-48b9-ac65-560e7517cf0e.woff2')
      format('woff2'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/d7d2e6c6-fc3a-41a5-9b52-648e12e215b2.woff')
      format('woff'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/cb64744b-d0f7-4ef8-a790-b60d6e3e4f21.ttf')
      format('truetype'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix')
      format('eot');
}
@font-face {
  font-family: 'TELUS-Web';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.telus.digital/thorium/core/fonts/etext/3e8a8b56-3cb0-4347-b670-eaaf06b76e9b.woff2')
      format('woff2'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/07173950-fa69-4b65-9c71-0cf2ec00b51d.woff')
      format('woff'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/aac5a4b8-ffd3-4529-a098-21b91bc86f9a.ttf')
      format('truetype'),
    url('https://cdn.telus.digital/thorium/core/fonts/etext/a747e1ea-ecdf-4f3d-ad47-3df9cfbee3cc.eot?#iefix')
      format('eot');
}

.book-summary,
.book-body {
  font-family: 'TELUS-Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-kerning: normal;
  color: #2a2c2e;
}

strong {
  font-weight: 700;
}

.color__swatch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.color {
  width: 250px;
}

.color__preview {
  display: inline-block;

  width: 90px;
  height: 90px;

  border-radius: 50%;
  border: 1px solid #aaa;
}

.book-summary ul.summary li.active > a {
  color: #2a2c2e;
}

.book-summary ul.summary li > a {
  color: #4b286d;
}

.book-summary ul.summary li > a:hover {
  color: #54595f;
  text-decoration: none;
}

.markdown-section a {
  color: #54595f;
  text-decoration: underline;
}
