.color__swatch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.color {
  width: 250px;
}

.color__preview {
  display: inline-block;

  width: 90px;
  height: 90px;

  border-radius: 50%;
  border: 1px solid #aaa;
}
