@import '../../Button/Button.modules.scss';

.button {
  composes: button from '../../Button/Button.modules.scss';
}

.primary {
  &:visited {
    color: inherit;
  }
}

.inverted {
  &:visited {
    color: $text-color;
  }
}
