$tds-style-typography-html-tags: false;

@import '../../scss/settings/colours';
@import '../../scss/settings/spacing';
@import '../../scss/utility/responsive';
@import '../../scss/settings/responsive-grid';
@import '../../scss/settings/typography';
@import '../../scss/foundation/typography';

.base {
  padding: $spacing-base 0;
}

.instructional {
  composes: base;

  background-color: $color-athens-grey;
}

.branded {
  composes: base;

  background-color: $color-white-lilac;
}

.success {
  composes: base;

  background-color: $color-panache;
}

.error {
  composes: base;

  background-color: $color-lavender-blush;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: $spacing-base;
}

.errorText {
  color: $color-cardinal;
}
