@import '../../scss/settings/colours';

.instructional {
  composes: default from '../Messaging.modules.scss';
}

.branded {
  background-color: $color-white-lilac;
}

.success {
  composes: success from '../Messaging.modules.scss';
}

.error {
  composes: error from '../Messaging.modules.scss';
}

.withoutIcon {
  width: 100%;
}

.withIcon {
  width: calc(100% - 2.5rem);
}
