.clickable {
  composes: noSpacing from '../../../src/components/Spacing.modules.scss';
  composes: none from '../../../src/components/Borders.modules.scss';

  composes: font from '../../../src/components/Forms.modules.scss';
  // Reset the text color because Safari tries to set its own color for buttons
  composes: color from '../../../packages/Text/Text.modules.scss';

  appearance: none;
  background: none;
  box-shadow: none;

  cursor: pointer;
}
