@import '~telus-thorium-core/scss/settings/variables';
@import '~telus-thorium-core/scss/utility/mixins';

.notification {
  padding: 22px 37px;
  background-color: $color-athens-grey;
  display: table;
  width: 100%;
  min-height: 68px;

  @include from-breakpoint(small) {
    padding: 22px 45px;
  }

  > .notification__content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  > .notification__content > *:first-child {
    margin-top: 0;
  }

  > .notification__content > *:last-child {
    margin-bottom: 0;
  }
}

.notification--instructional {
  background-color: $color-athens-grey;
}

.notification--branded {
  background-color: $color-white-lilac;
}

.notification--success {
  background-color: $color-panache;
}

.notification--error {
  background-color: $color-lavender-blush;
}
