@import '~telus-thorium-core/scss/settings/variables';

.b-hero {
  &__image:after {
    padding-bottom: 8.13037%;
    background-image: url(//cdn.business.telus.digital/v2-assets/images/b4yb/waves/wave_landing.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%, auto, contain;
    bottom: -1px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }
}
