@import '../../scss/settings/colours';

.disabled {
  border-color: $color-gainsboro;
  background-color: $color-gainsboro;
}

.checked {
  border-color: $color-shuttle-grey;
  background-color: $color-white;

  cursor: pointer;
}

.disabledChecked {
  border-color: $color-gainsboro;
  background-color: $color-white;
}

.inner {
  composes: circular from '../Borders.modules.scss';

  height: 12px;
  width: 12px;
}

.innerChecked {
  composes: inner;

  background-color: $color-accessible-green;
}

.innerDisabledChecked {
  composes: inner;

  background-color: $color-gainsboro;
}
