@import '../../scss/settings/colours';

.alignCenter {
  align-items: center;
}

.fakeRadio {
  composes: thin circular from '../Borders.modules.scss';

  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;

  outline: 0;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.unchecked {
  composes: fakeRadio;
  border-color: $color-shuttle-grey;
  background-color: $color-white;

  cursor: pointer;

  &.focused {
    border-color: $color-white;
  }
}

.error {
  composes: fakeRadio;
  border-color: $color-cardinal;
  background-color: $color-white;

  cursor: pointer;
}

.disabled {
  composes: fakeRadio;
  border-color: $color-gainsboro;
  background-color: $color-gainsboro;
}

.checked {
  composes: fakeRadio;
  border-color: $color-shuttle-grey;
  background-color: $color-white;

  cursor: pointer;
}

.disabledChecked {
  composes: fakeRadio;

  border-color: $color-gainsboro;
  background-color: $color-white;
}

.focused {
  box-shadow: 0 0 4px 1px $color-shuttle-grey;
}

.inner {
  composes: circular from '../Borders.modules.scss';

  height: 65%;
  width: 65%;
}

.innerChecked {
  composes: inner;

  background-color: $color-accessible-green;
}

.innerDisabledChecked {
  composes: inner;

  background-color: $color-gainsboro;
}

// FIXME: Doubling the specificity to beat global styles.
.hiddenRadio.hiddenRadio {
  // composes: noSpacing from '../Spacing.modules.scss';
  padding: 0;
  margin: 0;

  // Set opacity: 0 instead of display: none so that the checkbox can still
  //  emit focus/blur events
  opacity: 0;
  width: 0;
  height: 0;
}
