.hideNumberSpinner {
  // Hide the "spinner" element for input[type="number]
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.iconsPosition {
  composes: absolute centerVertically from '../Position.modules.scss';
  composes: iconRight from '../../../shared/components/FormField/FormField.modules.scss';
}

.input {
  min-height: 3.25rem;
  max-height: 3.25rem;
}
