@import '../../scss/settings/colours';
@import '../../scss/settings/typography';
@import '../../scss/settings/spacing';

// FIXME: Override the global styles in forms.scss. This can be removed when the global styles are purged.
.resetLabel {
  display: initial;
  color: initial;
  font-weight: initial;
  letter-spacing: initial;
  margin-bottom: 0;
}

.inputWrapper {
  composes: thin rounded from '../Borders.modules.scss';

  composes: row from '../Flexbox.modules.scss';
  align-items: center;

  padding: $spacing-base;
}

.defaultBoxShadow {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .05);
}
.defaultBgColor {
  background-color: $color-white;
}

.default {
  composes: inputWrapper defaultBgColor defaultBoxShadow;

  border-color: $color-shuttle-grey
}

.disabled {
  composes: inputWrapper defaultBoxShadow;

  background-color: $color-athens-grey;
  border-color: $color-shuttle-grey;
}

.focused {
  composes: inputWrapper defaultBgColor;

  border-color: transparent;
  box-shadow: 0 0 4px 1px $color-shuttle-grey;
}

.success {
  composes: inputWrapper defaultBgColor defaultBoxShadow;

  border-color: $color-primary;
}

.error {
  composes: inputWrapper defaultBgColor defaultBoxShadow;

  border-color: $color-cardinal;
}

// FIXME: Target the <input> element directly to beat the specificity of the global styles in forms.scss.
// This can be removed when the global styles are purged.
input.input {
  width: 100%;

  // FIXME: Will be able to use composes when removing the targeting of the <input> element above
  //composes: noSpacing from '../Spacing/Spacing.modules.scss';
  padding: 0;
  margin: 0;

  outline: 0;

  // FIXME: Will be able to use composes when removing the targeting of the <input> element above
  // composes: none rounded from '../Borders.modules.scss';
  border: 0;
  border-radius: 4px;

  font-family: $font-telus;

  // FIXME: Will be able to use composes when removing the targeting of the <input> element above
  // composes: medium mediumFont from '../Typography/Text/Text.modules.scss';
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
  @include helvetica-neue-light-45;

  color: $color-shark;
  background-color: transparent;

  // FIXME: Override the global styles in forms.scss. This can be removed when the global styles are purged.
  box-shadow: none;
  transition: none;

  &:focus {
    // FIXME: Override the global styles in forms.scss. This can be removed when the global styles are purged.
    box-shadow: none;
  }
}
