@import '~@tds/core-colours/colours';
@import '~@tds/core-responsive/responsive';
@import '../../../shared/scss/typography';

.item {
  display: inline;
  @include size-small;

  @include mq($from: md) {
    @include size-medium;
  }
}

.linkItem {
  composes: item;
  color: $color-shuttle-grey;
}

.slash {
  composes: item;
  margin: 0 0.5rem;
}

.lastItem {
  composes: item;
  color: $color-telus-purple;
  font-weight: 700;

  &:after {
    content: '';
    border-right: 0;
    margin: 0;
  }
}
