{
  "presets": [
    ["env", {"modules": false}],
    "stage-2",
    "react"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2", "react"]
    },
    "dev:e2e": {
      "presets": ["env", "stage-2", "react"]
    }
  }
}
