.DS_Store

# Node.js dependencies, files, & directories
.npmrc
node_modules
npm-debug.log*
*.log
*.tgz

# Jest
coverage

# IDE project files
.idea
*.iws
.vscode

# TDS build artifacts
dist
guide/components/
guide/_book/
build

e2e/reports
!e2e/reports/.gitkeep
e2e/tests/failure-screenshots/*.png
e2e/tests/visual-regression/*/diffs/*.png
e2e/tests/visual-regression/*/results/*.png
