.DS_Store

# Node.js dependencies, files, & directories
.npmrc
node_modules
npm-debug.log*
*.log
*.tgz

# Jest
coverage

# IDE project files
.idea
*.iws

# TDS build artifacts
dist/
guide/_book/
build/
.npm/
# Include the styleguide build directory, but not the StyleGuide component
styleguide/
!docs/components/overrides/StyleGuide

e2e/output/reports
e2e/output/failure-screenshots/
e2e/output/components/*/diffs/*.png
e2e/output/components/*/results/*.png
