.DS_Store

# Node.js dependencies, files, & directories
.npmrc
node_modules
npm-debug.log*
*.log

# Jest
coverage

# IDE project files
.idea
*.iws

# TDS build artifacts
dist
docs/src/assets/css/styleguide.css
docs/src/assets/css/thorium.css
docs/src/assets/css/tds.css
docs/src/assets/css/tds-lite.css
docs/src/assets/fonts/*
!docs/src/assets/fonts/.gitkeep
docs/src/assets/downloads
!docs/src/assets/downloads/.gitkeep
styleguide
