# The docker-compose.yml describes all the services in our application. While Docker Compose is best suited for
#  multi-container applications, we can use it to simplify our interaction with Docker.
#  https://docs.docker.com/compose/overview/

# `docker-compose build` --> Build the image. Do this first.
# `docker images` --> View the image you just built

# `docker-compose run lib <command>` --> <command> and any arguments will be forwarded onto the Dockerfile entrypoint, "yarn".
# `docker-compose run lib test` --> Run tests.
# `docker-compose run --service-ports -d lib test:e2e -- -a` --> Start the styleguidist dev server.

version: '3'
services:
  lib:
    container_name: tds
    build:
      context: .
      dockerfile: openshift/Dockerfile
    ports:
      - '6060:6060'
  # ciboot:
  #   container_name: tds-core
  #   build: .
  #   ports:
  #     - 6060:6060
  #   volumes:
  #     - './:/tds-core/'
  e2e:
    container_name: tds-core-e2e
    build:
      context: .
      dockerfile: e2e/Dockerfile
    environment:
      - mode=-a
    entrypoint:
      - npm
      - run
      - test:e2e-direct
      - --
      - $mode
    ports:
      - 6060:6060
    # depends_on:
    #   - ciboot
    volumes:
      - './e2e/.:/tds-core/e2e/'
      - './scripts/.:/tds-core/scripts/'
      - './config/.:/tds-core/config/'
      - './docs/.:/tds-core/docs/'
      - './packages/.:/tds-core/packages/'
      - './shared/.:/tds-core/shared/'
      - './.git/.:/tds-core/.git/'
      - '${PWD}/lerna.json:/tds-core/lerna.json'
      - '${PWD}/babel.config.js:/tds-core/babel.config.js'
