# The docker-compose.yml describes all the services in our application. While Docker Compose is best suited for
#  multi-container applications, we can use it to simplify our interaction with Docker.
#  https://docs.docker.com/compose/overview/

# `docker-compose build` --> Build the image. Do this first.
# `docker images` --> View the image you just built

# `docker-compose run lib <command>` --> <command> and any arguments will be forwarded onto the Dockerfile entrypoint, "yarn".
# `docker-compose run lib test` --> Run tests.
# `docker-compose run --service-ports lib start:styleguide` --> Start the styleguidist dev server.

version: '3'
services:
  lib:
    container_name: tds
    build: .
    ports:
      - '6060:6060'
