/**

File:         _layout.scss
Description:  Structural styles

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Container sizing

*/

.container {
  height: 100%;
  width: 100%;

  // TODO: Remove when DSR-1 is implemented.
  margin: 0 auto;

  // TODO: Remove when DSR-1 is implemented.
  @media (min-width: 1170px) {
    max-width: 1160px;
  }
}
