/**

File:         _layout.scss
Description:  Structural styles

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Container sizing

*/

.container {
  height: 100%;
  width: 100%;
}

.docs-container {
  @include from-breakpoint(large) {
    max-width: $docs-max-width;
  }
}
