/**

File:         _page.scss
Description:  Styles for individual documentation pages

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Doc page styles

*/

.page {
  flex: 1;
  max-width: 100%;
  margin-left: -200px;
  padding: 0;
  transition: all .2s;
  width: 100%;
  z-index: 2;

  header {
    h1 {
      margin: 0;
    }
  }

  @media screen and (min-width: 960px) {
    margin-left: 0;
    zoom: 1;
    transform: none !important;

    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }
}

.content {
  padding: 2.2rem 5%;

  ul,
  ol {
    margin-left: 2rem;
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }
}

.section {
  &.gradient {
    background: #fff;
  }
}

pre + .subhead {
  margin-top: 2rem;
}
