/**

File:         variables.scss
Description:  A central place to define site-wide values such as color codes
              and font names.

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Colours

*/

/* ---------------------------------------
  1.  Colours
----------------------------------------- */

$color-purple: #4b286d;
