@import '../../src/scss/settings/colours';

.disabled,
.disabledChecked {
  border-color: $color-gainsboro;
  background-color: $color-gainsboro;
}

.checked {
  border-color: $color-accessible-green;
  background-color: $color-accessible-green;

  cursor: pointer;
}
