@import '~telus-thorium-core/scss/settings/variables';
@import '~telus-thorium-core/scss/utility/mixins';

.selector-counter {
  position: relative;
  display: inline-block;
  width: 100%;

  @include from-breakpoint(medium) {
    width: rem(178px);
  }

  @include from-breakpoint(xl) {
    width: rem(158px);
  }

  &__button {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: auto;
    width: auto;
    background: transparent;

    &:last-child {
      top: 34px;
    }

    &:disabled {
      background: transparent;
    }
  }

  &__icon {
    color: $color-japanese-laurel;

    &:hover {
      color: $color-japanese-laurel;
    }

    .selector-counter--error &,
    .selector-counter--error button:disabled & {
      color: $color-cardinal;
    }

    .selector-counter--successful &,
    .selector-counter--successful button:disabled & {
      color: $color-japanese-laurel;
    }

    button:disabled & {
      color: $color-shuttle-grey;
    }
  }
}

input.selector-counter__value {
  font-weight: 300;
  font-size: rem(44px);
  line-height: rem(44px);
  padding: 0 35px 0 25px;
  height: 60px;
  max-width: 100%;
  -moz-appearance:textfield;

  // Hide the built-in up/down arrows
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .selector-counter--error & {
    border-color: $color-cardinal;
  }

  .selector-counter--successful & {
    border-color: $color-japanese-laurel;
  }
}
