@import '~telus-thorium-core/scss/settings/variables';
@import '~telus-thorium-core/scss/utility/mixins';

.selector-counter {
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  border: solid 1px $color-grey-light;
  color: $color-grey-dark;
  width: 100%;
  height: 60px;
  padding: 6px 35px 0 25px;

  @include from-breakpoint(medium) {
    width: auto;
  }

  &--error {
    border-color: $color-red;
  }

  &--disabled {
    background-color: $color-grey-panel;
    border-color: $color-grey-light;
  }

  &--successful {
    border-color: $color-green-darker;
  }

  &__value {
    display: inline-block;
    font-weight: 300;
    font-size: rem(44px);
    line-height: rem(44px);

    @include from-breakpoint(medium) {
      min-width: 117px;
    }

    @include from-breakpoint(xl) {
      min-width: 97px;
    }
  }

  &__button {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    min-height: 0;
    width: auto;

    &:last-child {
      top: auto;
      bottom: 9px;
    }

    &:disabled {
      background: transparent;
    }
  }

  &__icon {
    color: $color-green-darker;

    &:hover {
      color: $color-green-darker;
    }

    .selector-counter--error &,
    .selector-counter--error button:disabled & {
      color: $color-red;
    }

    .selector-counter--successful &,
    .selector-counter--successful button:disabled & {
      color: $color-green-darker;
    }

    button:disabled & {
      color: $color-grey;
    }
  }
}
