@import '~@tds/core-responsive/responsive';

div.flexRow {
  margin: 0 auto;
  width: 100%;
  flex-shrink: 0;
}

div.xsReverse {
  @include mq($until: sm) {
    flex-direction: row-reverse;
  }
}

div.smReverse {
  @include mq($from: sm) {
    flex-direction: row-reverse;
  }
}

div.mdReverse {
  @include mq($from: md) {
    flex-direction: row-reverse;
  }
}

div.lgReverse {
  @include mq($from: lg) {
    flex-direction: row-reverse;
  }
}

div.xlReverse {
  @include mq($from: xl) {
    flex-direction: row-reverse;
  }
}

div.xsReverseCancel {
  @include mq($until: sm) {
    flex-direction: row;
  }
}

div.smReverseCancel {
  @include mq($from: sm, $until: md) {
    flex-direction: row;
  }
}

div.mdReverseCancel {
  @include mq($from: md, $until: lg) {
    flex-direction: row;
  }
}

div.lgReverseCancel {
  @include mq($from: lg, $until: xl) {
    flex-direction: row;
  }
}

div.xlReverseCancel {
  @include mq($from: xl) {
    flex-direction: row;
  }
}
