@import '~@tds/core-responsive/responsive';

.flexGrid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.limitWidth {
  margin: 0 auto;
  @each $viewport, $mq-breakpoint in $mq-breakpoints {
    @include mq($from: $viewport) {
      max-width: $mq-breakpoint;
    }
  }
}

div.xsReverse {
  @include mq($until: sm) {
    flex-direction: column-reverse;
  }
}

div.smReverse {
  @include mq($from: sm) {
    flex-direction: column-reverse;
  }
}

div.mdReverse {
  @include mq($from: md) {
    flex-direction: column-reverse;
  }
}

div.lgReverse {
  @include mq($from: lg) {
    flex-direction: column-reverse;
  }
}

div.xlReverse {
  @include mq($from: xl) {
    flex-direction: column-reverse;
  }
}

div.xsReverseCancel {
  @include mq($until: sm) {
    flex-direction: column;
  }
}

div.smReverseCancel {
  @include mq($from: sm, $until: md) {
    flex-direction: column;
  }
}

div.mdReverseCancel {
  @include mq($from: md, $until: lg) {
    flex-direction: column;
  }
}

div.lgReverseCancel {
  @include mq($from: lg, $until: xl) {
    flex-direction: column;
  }
}

div.xlReverseCancel {
  @include mq($from: xl) {
    flex-direction: column;
  }
}
