@import '~@tds/core-responsive/responsive';

.flexGrid {
  padding: 0;
}

.limitWidth {
  margin: 0 auto;
  @each $viewport, $mq-breakpoint in $mq-breakpoints {
    @include mq($from: $viewport) {
      max-width: $mq-breakpoint;
    }
  }
}
