@import '../../../scss/settings/colours';

.base {
  composes: noSpacing from '../../Spacing/Spacing.modules.scss';
  border: none;
}

.verticalHeight {
  height: 100%;
}

.horizontalThin {
  composes: base;

  border-top: 1px solid $color-gainsboro;
}

.verticalThin {
  composes: base;
  composes: verticalHeight;

  border-left: 1px solid $color-gainsboro;
}

.horizontalGradient {
  composes: base;

  height: 1px;
  background-image: linear-gradient(90deg, rgba(216, 216, 216, 0) 0%, $color-gainsboro 2%, $color-gainsboro 98%, rgba(216, 216, 216, 0) 100%);
}

.verticalGradient {
  composes: base;
  composes: verticalHeight;

  width: 1px;
  background-image: linear-gradient(180deg, rgba(216, 216, 216, 0) 0%, $color-gainsboro 5%, $color-gainsboro 95%, rgba(216, 216, 216, 0) 100%);
}
