// Get the unicode point for a given icon name
@function core-icon-codepoint($name) {
  @return map-get($core-icon-codepoints, $name);
}

@mixin core-icon($name: null) {
  @if $name {
    &::before {
      content: core-icon-codepoint($name);
    }
  }

  font-family: "TELUS Core Icons";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
