@import '~@tds/core-colours/colours';
@import '~@tds/core-responsive/responsive';

.fullWidth {
  width: 100%;
}

.subtextContainer {
  line-height: 1px;
}

.header {
  composes: fullWidth;
  text-align: left;
}

.headerAlign {
  flex: 1 1 auto;
  composes: fullWidth;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}

.alignSelfFlexEnd {
  @include mq($until: md) {
    align-self: flex-end;
  }
}

.showFromMd {
  display: none;

  @include mq($from: md) {
    display: inline-block;
  }
}

.showUntilMd {
  display: inline-block;

  @include mq($from: md) {
    display: none;
  }
}
