@import '../../../src/scss/settings/colours';
@import '../../../src/scss/utility/sass-mq';

.header {
  width: 100%;
  text-align: left;
}

.headerAlign {
  flex: 1;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}

.alignSelfFlexEnd {
  @include mq($until: md) {
    align-self: flex-end;
  }
}

.showFromMd {
  display: none;

  @include mq($from: md) {
    display: inline-block;
  }
}

.showUntilMd {
  display: inline-block;

  @include mq($from: md) {
    display: none;
  }
}
