@import '~@tds/core-colours/colours';

.header {
  width: 100%;
  text-align: left;
}

.headerAlign {
  flex: 1;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}

.alignSelfFlexEnd {
  align-self: flex-end;
}
