.preventWidthResizing {
  // Set max width to prevent the textarea from being resized beyond its container.
  // Set min width to prevent the textarea from being resized smaller, making the absolutely positioned icon have to be repositioned.

  // Another option here can be to wrap the textarea in an "inline-block" div, which will adapt to the bounds of the child textarea.
  // - I chose to prevent resizing the width to avoid edge cases due to the absolutely positioned icon.
  max-width: 100%;
  min-width: 100%;
  min-height: 208px; // preferred over `rows` attribute for cross-browser consistency
}

.feedbackIconPosition {
  composes: absolute from '../Position.modules.scss';
  composes: iconRight from '../../../shared/components/FormField/FormField.modules.scss';

  top: 0.5rem;
}
