$color-accessible-green: #2b8000;

$color-telus-green: #6c0;
$color-panache: #f4f9f2;

$color-shuttle-grey: #54595f;

$color-shark: #2a2c2e;
$color-athens-grey: #f7f7f8;

$color-telus-purple: #4b286d;

$color-white-lilac: #f2eff4;
$color-cardinal: #c12335;
$color-lavender-blush: #fff6f8;
$color-white: #fff;
$color-gainsboro: #d8d8d8;

// Typography colors
$color-link: $color-shuttle-grey;
$color-text: $color-shark;

// Tokens
$color-primary: $color-accessible-green;
$color-secondary: $color-telus-purple;

// Icon colors
$color-icon-primary: $color-primary;
$color-icon-secondary: $color-secondary;
$color-icon-disabled: $color-shuttle-grey;
$color-icon-error: $color-cardinal;
