$font-sans: Arial, sans-serif;
$font-serif: Georgia, serif;
$font-telus: 'TELUS-Web', 'Helvetica Neue', Helvetica, $font-sans;
$font-icons: 'TELUS Core Icons';

$font-size-base: 16px;
$font-line-height: 1.5;

$body-text-size: 20px;
$body-line-height: 1.6; // 32px

$body-medium-text-size: 16px;
$body-medium-line-height: 1.5; // 24px

$body-small-text-size: 14px;
$body-small-line-height: 1.71; // 24px

@mixin helvetica-neue-thin-35 {
  font-weight: 300;
}

@mixin helvetica-neue-light-45 {
  font-weight: 400;
}

@mixin helvetica-neue-roman-55 {
  font-weight: 500;
}

@mixin helvetica-neue-medium-65 {
  font-weight: 700;
}

@function rem($size) {
  @return ($size / $font-size-base) * 1rem;
}

@function baseline-margin($size) {
  @return rem($size - ($body-text-size * $body-line-height));
}
