// Site-wide values such as color codes and font names.

//
// Colours
//

// THESE COLOURS HAVE BEEN COPIED INTO _colours.scss FOR NOW.
$color-accessible-green: #248700;

$color-telus-green: #6c0;
$color-panache: #f4f9f2;

$color-shuttle-grey: #54595f;

$color-shark: #2a2c2e;
$color-athens-grey: #f7f7f8;

$color-telus-purple: #4b286d;

$color-white-lilac: #f2eff4;
$color-cardinal: #c12335;
$color-lavender-blush: #fff6f8;
$color-white: #fff;
$color-gainsboro: #d8d8d8;

// Typography colors

$color-link: $color-shuttle-grey;
$color-text: $color-shark;

// Tokens
$color-primary: $color-accessible-green;
$color-secondary: $color-telus-purple;

// Icon colors
$color-icon-primary: $color-primary;
$color-icon-secondary: $color-secondary;
$color-icon-disabled: $color-shuttle-grey;
$color-icon-error: $color-cardinal;

//
// Typography
//

$font-sans: Arial, sans-serif;
$font-serif: Georgia, serif;
$font-telus: 'TELUS-Web', 'Helvetica Neue', Helvetica, $font-sans;
$font-icons: 'TELUS Core Icons';

$font-size-base: 16px;
$font-line-height: 1.5;

$body-text-size: 20px;
$body-line-height: 1.6; // 32px

$body-medium-text-size: 16px;
$body-medium-line-height: 1.5; // 24px

$body-small-text-size: 14px;
$body-small-line-height: 1.71; // 24px

/* stylelint-disable */

// Default to the CDN-hosted icons, while allowing any client project to
// control the location icons are served from by defining
// $thorium-icon-font-prefix in their SCSS.
$icon-font-prefix: 'https://cdn.telus.digital/thorium/core/v0.4.0';

@if variable-exists(thorium-icon-font-prefix) {
  $icon-font-prefix: $thorium-icon-font-prefix;
}

/* stylelint-enable */

//
// Responsive grid
//

// Breakpoints for a mobile-first grid. The pixel values of adjacent breakpoints
// can be the same value (i.e. it's unnecessary to write values like
// small: (544px, 767px), medium: (768px, 992px)). Media Query-generating mixins
// will automatically adjust by 1px where necessary.
$breakpoints: (
  xs: (null,   576px),
  small: (576px,  768px),
  medium: (768px,  992px),
  large: (992px, 1200px),
  xl: (1200px, null)
);

$max-widths: (
  xs: auto,
  small: 544px,
  medium: 736px,
  large: 960px,
  xl: 1168px
);

// 12 columns all the way down.
$columns: (
  xs: 12,
  small: 12,
  medium: 12,
  large: 12,
  xl: 12
);

$gutter: 32px;

// z-index scale
$zindex-negative:            -1 !default;
$zindex-dropdown-backdrop:  900 !default;
$zindex-navigation:        1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1300 !default;
$zindex-sticky:            1300 !default;
$zindex-modal-backdrop:    1400 !default;
$zindex-modal:             1500 !default;
$zindex-popover:           1600 !default;

//
// Feature flags
//

// The "Enable Deprecated List Classes" feature flag can be turned on to
// support old list classes:
//
//     .list-alpha, .list-bullets, .list-checked, and .list-numbered
//
// This should only be done temporarily, because it adds unnecessary size
// to the CSS bundle. The .list block is the preferred way of styling
// lists.
//
// To enable this feature, define $thorium-enable-deprecated-list-classes: true
// prior to your @import "tds" directive.
$enable-deprecated-list-classes: false;

@if variable-exists(thorium-enable-deprecated-list-classes) {
  $enable-deprecated-list-classes: $thorium-enable-deprecated-list-classes;
}
