$zindex-negative:            -1 !default;
$zindex-dropdown-backdrop:  900 !default;
$zindex-navigation:        1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1300 !default;
$zindex-sticky:            1300 !default;
$zindex-modal-backdrop:    1400 !default;
$zindex-modal:             1500 !default;
$zindex-popover:           1600 !default;
