/**

File:         variables.scss
Description:  A central place to define site-wide values such as color codes
              and font names.

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Colours
    2. Typography
    3. Grid

*/

/* ---------------------------------------
  1.  Colours
----------------------------------------- */

$color-green: #248700;
$color-green-darker: #177a00;
$color-grey: #54595f;
$color-grey-dark: #2a2c2e;
$color-grey-panel: #f7f7f8;
$color-purple: #4b286d;
$color-white: #fff;

$color-font: #666;
$color-font-darker: $color-grey-dark;
$color-link: $color-green;
$color-link-hover: $color-green-darker;
$color-link-secondary: $color-grey;
$color-link-secondary-hover: $color-grey-dark;
$color-text: $color-font-darker;

/* ---------------------------------------
  2.  Typography
----------------------------------------- */

$font-sans: Arial, sans-serif;
$font-serif: Georgia, serif;
$font-telus: 'Telus Light', 'Helvetica Neue', Helvetica, $font-sans;
$font-telus-thin: 'Telus Light', 'HelveticaNeue-Thin', 'Helvetica Neue Thin', Helvetica, $font-sans;

$font-size-base: 16px;
$font-line-height: 1.5;

$body-text-size: 20px;
$body-line-height: 1.4444444444;

/* ---------------------------------------
  3.  Grid
----------------------------------------- */

/**
 * Breakpoints for a mobile-first grid. The pixel values of adjacent breakpoints
 * can be the same value (i.e. it's unnecessary to write values like
 * small: (544px, 768px), medium: (769px, 992px)). Media Query-generating mixins
 * will automatically add 1 where necessary.
 */
$breakpoints: (
  xs: (null,   544px),
  small: (544px,  768px),
  medium: (768px,  992px),
  large: (992px, 1200px),
  xl: (1200px, null)
);

// 12 columns all the way down.
$columns: (
  xs: 12,
  small: 12,
  medium: 12,
  large: 12,
  xl: 12
);

$gutter: 30px;
