// Button styles

.tds-button,
a.tds-button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: rem(16px);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.166666;
  margin: 9px 0;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  transition: background .2s;
  width: 100%;
  min-height: 52px;
  min-width: 180px;

  @include from-breakpoint(medium) {
    display: inline-block;
    width: auto;
    vertical-align: top;

    + .tds-button {
      // Using < 20px to compensate for the extra margin which appears between inline-block
      // elements due to whitespace in the actual markup.
      margin-left: 16px;
    }

    + .tds-button--link {
      margin-left: 34px;
    }

    &--link {
      + .tds-button--link {
        margin-left: 40px;
      }

      + .tds-button:not(.button--link) {
        margin-left: 40px;
      }
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      box-shadow: 0 0 0 1px;
    }

    &.tds-button--outlined {
      background-color: $color-white;
      box-shadow: 0 0 0 1px;
      color: $color-primary;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &.tds-button--inverted {
      background-color: $color-white;
      color: $color-primary;

      &:hover {
        box-shadow: 0 0 0 1px;
        color: $color-white;
        background-color: $color-primary;
      }

      &.tds-button--outlined {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
          background-color: $color-white;
          color: $color-primary;
          box-shadow: 0 0 0 1px;
        }
      }
    }

    &.tds-button--link {
      &::after {
        padding-left: 4px;
      }

      @include chevron-links($color-japanese-laurel);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-secondary;
      box-shadow: 0 0 0 1px;
    }

    &.tds-button--outlined {
      background-color: $color-white;
      color: $color-secondary;
      box-shadow: 0 0 0 1px;

      &:hover {
        background-color: $color-secondary;
        color: $color-white;
      }
    }

    &.tds-button--inverted {
      background-color: $color-white;
      color: $color-secondary;

      &:hover {
        box-shadow: 0 0 0 1px;
        color: $color-white;
        background-color: $color-secondary;
      }

      &.tds-button--outlined {
        background-color: $color-secondary;
        color: $color-white;

        &:hover {
          background-color: $color-white;
          color: $color-secondary;
          box-shadow: 0 0 0 1px;
        }
      }
    }

    &.tds-button--link {
      &::after {
        padding-left: 4px;
      }

      @include chevron-links($color-secondary);
    }
  }

  &--link {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    font-family: inherit;
    line-height: 1;
    font-size: rem(16px);
    border: 0;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    min-width: auto;
  }

  &--plain {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
  }

  &--disabled {
    background-color: $color-gainsboro;
    color: $color-shark;
    cursor: default;

    &:hover {
      box-shadow: none;
      background-color: $color-gainsboro;
      color: $color-shark;
    }
  }
}
