// Button styles

button {
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  font-family: inherit;
  line-height: 1;
  font-size: inherit;
  border: 0;
}

button,
.button,
a.button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-family: $font-telus;
  font-size: rem(15px);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.166666;
  margin: 9px 0;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  transition: background .2s;
  width: 100%;
  min-height: 60px;

  @include from-breakpoint(medium) {
    display: inline-block;
    width: auto;
    vertical-align: top;

    + .button,
    + button {
      // Using < 20px to compensate for the extra margin which appears between inline-block
      // elements due to whitespace in the actual markup.
      margin-left: 16px;
    }

    + .button-link {
      margin-left: 34px;
    }

    &-link {
      + .button-link {
        margin-left: 40px;
      }

      + .button:not(.button-link) {
        margin-left: 40px;
      }
    }
  }

  &-primary {
    background-color: $color-purple-light;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-purple-light;
      border: solid 1px $color-purple-light;
    }

    &--outlined {
      background-color: $color-white;
      color: $color-purple-light;
      border: solid 1px $color-purple-light;

      &:hover {
        background-color: $color-white;
        color: $color-purple;
        border: solid 1px $color-purple;
      }
    }
  }

  &-secondary {
    background-color: $color-green;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-green;
      border: solid 1px $color-green;
    }

    &--outlined {
      background-color: $color-white;
      border: solid 1px $color-green;
      color: $color-green;

      &:hover {
        background-color: $color-white;
        color: $color-green-darker;
        border: solid 1px $color-green-darker;
      }
    }
  }

  &-link {
    color: $color-green;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;

    &:hover {
      color: $color-green-darker;
    }
  }

  &-plain {
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-height: auto;
  }

  &[disabled] {
    background-color: #efefef;
    color: $color-grey-dark;

    &:hover {
      border-width: 0;
    }
  }

  &-inverted {
    border: 0;
    background: $color-white;
    color: $color-purple;

    &:hover {
      color: $color-purple-light;
    }

    &--outlined {
      border: solid 1px $color-white;
      color: $color-white;
      background: $color-purple;
      transition: border-color .1s linear;

      &:hover {
        color: $color-white;
        border: solid 1px rgba(255, 255, 255, .35);
      }
    }
  }
}
