// Button styles

.button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: rem(16px);
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 1.166666;
  margin: 9px 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: background .2s;
  width: 100%;
  min-height: 60px;
  min-width: 180px;

  @include from-breakpoint(medium) {
    display: inline-block;
    width: auto;
    vertical-align: top;

    + .button {
      // Using < 20px to compensate for the extra margin which appears between inline-block
      // elements due to whitespace in the actual markup.
      margin-left: 16px;
    }

    + .button--link {
      margin-left: 34px;
    }

    &--link {
      + .button--link {
        margin-left: 40px;
      }

      + .button:not(.button--link) {
        margin-left: 40px;
      }
    }
  }

  &--purple {
    background-color: $color-grape;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-grape;
      box-shadow: 0 0 0 1px;
    }

    &.button--outlined {
      background-color: $color-white;
      color: $color-grape;
      box-shadow: 0 0 0 1px;

      &:hover {
        background-color: $color-white;
        color: $color-grape;
      }
    }

    &.button--link {
      &::after {
        padding-left: 4px;
      }

      @include chevron-links($color-grape, $color-royal-purple);
    }
  }

  &--green {
    background-color: $color-forest-green;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-forest-green;
      box-shadow: 0 0 0 1px;
    }

    &.button--outlined {
      background-color: $color-white;
      box-shadow: 0 0 0 1px;
      color: $color-forest-green;

      &:hover {
        background-color: $color-white;
        color: $color-forest-green;
      }
    }

    &.button--link {
      &::after {
        padding-left: 4px;
      }

      @include chevron-links($color-japanese-laurel, $color-forest-green);
    }
  }

  &--link {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    font-family: inherit;
    line-height: 1;
    font-size: rem(16px);
    border: 0;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    min-width: auto;

    &:hover {
      //color: $color-japanese-laurel;
    }
  }

  &--plain {
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-height: auto;
  }

  &[disabled] {
    background-color: #efefef;
    color: $color-shark;

    &:hover {
      box-shadow: none;
    }
  }

  &--inverted {
    border: 0;
    background: $color-white;
    color: $color-grape;

    &:hover {
      box-shadow: 0 0 0 1px;
      color: $color-white;
      background: $color-grape;
    }

    &.button--outlined {
      border: solid 1px $color-white;
      color: $color-white;
      background: $color-grape;
      transition: border-color .1s linear;

      &:hover {
        color: $color-white;
        border: solid 1px rgba(255, 255, 255, .35);
      }
    }
  }
}
