@import '../../scss/settings/variables';

.headline-block__bg {
  background-image: url('./wave_header_default.png');
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 105px;
  margin-bottom: 48px;
  background-size: contain;
}

.headline-block--grape {
  color: $color-secondary;
}
