.colors {
  text-align: left;

  .medium-4 {
    padding-top: 2rem;
  }
}

.color-preview {
  border-radius: 50%;
  border: 1px solid #aaa;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  width: 90px;
}

.grid-pink {
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-red {
  background-color: red;
  color: #fff;
}

.grid-orange {
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-yellow {
  background-color: yellow;
}

.grid-green {
  background-color: green;
  color: #fff;
}

.grid-cyan {
  background-color: cyan;
}

.grid-blue {
  background-color: blue;
  color: #fff;
}
