.colors {
  text-align: left;

  .tds-medium-4 {
    padding-top: 2rem;
  }
}

.color-preview {
  border-radius: 50%;
  border: 1px solid #aaa;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  width: 90px;
}

.example-grid-lavender {
  background-color: #fff6f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-red {
  background-color: #c12335;
  color: #fff;
}

.example-grid-panache {
  background-color: #f4f9f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.example-grid-purple {
  background-color: #7841b0;
  color: #fff;
}

.grid-green {
  background-color: #248700;
  color: #fff;
}

.grid-cyan {
  background-color: cyan;
}

.grid-blue {
  background-color: blue;
  color: #fff;
}
