// Styling for examples within documentation pages.

.example {
  .tds-grid-row {
    margin-bottom: 2rem;

    > div {
      background: #eee;
      border: solid 1px #ccc;
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }

  &--type {
    padding-left: 2rem;
  }

  &--inverted {
    padding: 2rem;
  }

  &--non-inverted {
    padding: 2rem 0;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }
}

#example-hint {
  margin-top: 115px;
}

.type-examples {
  padding-top: 2rem;

  .tds-grid-row {
    margin-bottom: 3rem;
  }

  .heading-2 {
    margin-top: 3rem;
  }
}

.doc-figure {
  &__legend {
    margin-top: 1.5rem;
  }
}

.inline-component {
  @include from-breakpoint(medium) {
    display: inline-block;
  }
}

code.language-markdown,
pre.language-markdown {
  white-space: pre-wrap;
}
