// Documentation site-wide styles

body {
  background: #fff;
}

hr {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 0;
  border-bottom-width: 1px;
  color: #eee;
}
