// Documentation site global header styles

.docs-header {
  height: 68px;
  background-color: $color-grape;
  text-align: center;

  @include from-breakpoint(large) {
    text-align: left;
  }

  &__logo {
    margin-left: -3.813rem;
    width: 200px;

    img {
      margin-top: 15px;
      width: 200px;
    }

    @include from-breakpoint(large) {
      margin-left: 0;
    }
  }

  &__toggle {
    font-size: 2rem;
    margin: 0;
    background: rgba(255, 255, 255, .1);
    padding: 1rem;
    float: left;
    width: auto;
    min-width: 0;

    @include from-breakpoint(large) {
      display: none;
    }
  }

  &__icon {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__container {
    padding-left: 0;
    padding-right: 0;
  }
}
