// Left-hand navigation menu styles
.navigation {
  border-right: 1px solid #eee;
  padding: 40px;

  .container {
    padding: 0;
  }

  span {
    color: $color-purple;
    font-size: .8em;
    font-weight: bold;
  }

  a {
    color: #6a6e74;
    font-size: .8em;
    text-transform: none;
    text-decoration: none;
    padding-left: 0;
    padding-bottom: .25em;
    padding-top: .25em;
    display: block;
    font-weight: normal;

    &:hover {
      color: #1f7600;
    }
  }

  .active {
    a {
      color: #1f7600;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: baseline-margin(50px);
  }

  li {
    margin: 0;
  }
}
