// Left-hand navigation menu styles
.navigation {
  background-color: #f7f7f8;

  &__local-anchor--hidden {
    visibility: hidden;
  }

  @include from-breakpoint(large) {
    background-color: #fff;
    border-right: 1px solid #eee;
  }

  .container {
    padding: 0;
  }

  span {
    color: $color-grape;
    font-size: .8em;
    font-weight: 700;
    display: block;
    margin-bottom: 17px;
  }

  a {
    display: block;
    width: 9em;
    padding: 3px 12px 3px 8px;
    text-decoration: none;
    border-bottom: 1px solid #eee;

    &:hover {
      background-color: #fff;

      @include from-breakpoint(large) {
        background-color: #f2eff4;
      }
    }
  }

  .active {
    a {
      color: #1f7600;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & > ul {
    padding-top: 20px;

    &:first-child {
      padding-top: 40px;
    }

    &:last-child {
      padding-bottom: 40px;
    }
  }

  li {
    margin: 0;
  }

  li li {
    &:first-child {
      border-top: 1px solid #eee;
    }

    a {
      display: block;
      width: 100%;
      padding: 17px 3px 17px 17px;
      text-decoration: none;
      border-bottom: 1px solid #eee;
    }
  }
}
