// Styles for individual documentation pages

.page {
  flex: 1;
  max-width: 100%;
  margin-left: -200px;
  padding: 0;
  transition: all .2s;
  width: 100%;
  z-index: 2;

  header {
    h1 {
      margin: 0;
    }
  }

  @include from-breakpoint(large) {
    margin-left: 0;
    zoom: 1;
    transform: none !important;

    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }
}

.content {
  padding: 2.2rem 5%;

  > table {
    width: 100%;

    th {
      text-align: left;
      font-weight: 800;
    }
  }
}

.section {
  &.gradient {
    background: #fff;
  }

  &.changelog {
    h2 {
      padding-top: 20px;
    }
  }
}

pre + .subhead {
  margin-top: 2rem;
}
