// Typography settings specific to the Documentation Site.

.content {
  > h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
}

// p + h2, p + h3, p + h4 {
h2:not([class]),
h3:not([class]),
h4:not([class]) {
  margin-top: 1.5em;
}

h2:not([class]):first-child,
h3:not([class]):first-child,
h4:not([class]):first-child {
  margin-top: 0;
}
