// Typography settings specific to the Documentation Site.

.content {
  > h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
}
