extends examples

block content
  form.container.login-metric
    div.grid-row
      div.medium-6.large-5.login-metric__form
        h2
          != "Login to Telus"
          br
          != "Business account."
        fieldset.field
          label(for='email') Email address
          input(type='email', id='email')
        fieldset.field
          label(for='password') Password
          input(type='password', id='password')
        div.button-row
          button(type='submit').button.button-primary Login
      div.medium-4.large-5.offset-medium-1.login-metric__copy
        h3 New to Telus Business?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mollis tortor eget sagittis.
        p
          a(href='#') Learn more
        p
          a(href='#') Register now

  form.container
    div.grid-row
      div.field-col
        h2 A wide field
        fieldset.field
          label(for='query') What are you looking for?
          //The form hints feature is switched off until testing is complete. Targeted for v0.3.1.
          //div.hint
            button.button.button-plain.hint__trigger
              i.hint__icon.icon.icon-core-help
              span.accessible-hide Toggle helper text
            span#some-hint.hint__text Enter a few keywords related to your search.
          input(type='text', id='query', placeholder='smart phones')
        div.field
          label.choice
            input(type='checkbox')
            span.choice__text I agree to the Terms and Conditions
    div.button-row
      button(type='submit').button.button-primary Search