extends examples

block content
  form.container.login-metric
    div.grid-row
      div.medium-6.large-5.login-metric__form
        h2
          != "Login to TELUS"
          br
          != "Business account."
        fieldset.field
          label(for='email') Email address
          input(type='email', id='email')
        fieldset.field
          label(for='password') Password
          input(type='password', id='password')
        div.button-row
          button(type='submit').button.button-primary Login
      div.medium-4.large-5.offset-medium-1.login-metric__copy
        h3 New to TELUS Business?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mollis tortor eget sagittis.
        p
          a(href='#') Learn more
        p
          a(href='#') Register now

  form.container
    div.grid-row
      div.field-col
        h2 A wide field
        fieldset.field.field--hinted
          label(for='query') What are you looking for?
          input(type='text', id='query', aria-describedby='some-hint')
          div.hint
            button(aria-controls='some-hint').button.button-plain.hint__trigger
              span.accessible-hide Toggle search field description visibility
            span(aria-role='tooltip', aria-hidden='true')#some-hint.hint__text Enter a few keywords related to your search.
        div.field
          label.choice
            input(type='checkbox')
            span.choice__text I agree to the Terms and Conditions
    div.button-row
      button(type='submit').button.button-primary Search