- var toc = env.helpers.getNav(contents);

each category in toc
  ul
    li
      span= category.title
      ul
        each child in category.children
          - var classes = (page.title === child.title) ? 'active subsection' : 'subsection';
          li(class=classes)
            a(href="#{child.url}") #{child.title}
