@import '../../packages/colours/colours';

.docs--badge {
  padding: 5px;
  border-radius: 4px;

  color: $color-white;
}

.docs--badge {
  &__new {
    @extend .docs--badge;

    background-color: $color-accessible-green;
  }

  &__updated {
    @extend .docs--badge;

    background-color: $color-cardinal;
  }

  &__version {
    @extend .docs--badge;

    background-color: $color-telus-purple;
  }

  &__wip {
    @extend .docs--badge;

    background-color: $color-cardinal;
  }

  &__deprecated {
    @extend .docs--badge;

    background-color: $color-cardinal;
  }
}
