.docs--badge {
  padding: 5px;
  border-radius: 4px;

  color: $color-white;

  &.green {
    background-color: $color-accessible-green;
  }

  &.purple {
    background-color: $color-telus-purple;
  }

  &.cardinal {
    background-color: $color-cardinal;
  }
}
