@import '../../packages/colour/colours';

[class*='rsg--'].docs_purple-block,
.docs_purple-block {
  background-color: $color-secondary;
  padding: 2rem;
}

[class*='rsg--'].docs_hero,
.docs_hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 200px;
  padding: 2rem;

  background-image: url('../images/hero-background.jpg');
  background-size: cover;
}

.docs_divider-height {
  height: 150px;
}

.docs_align-flex-start {
  align-items: flex-start;
}

.docs_selcounter-label {
  display: inline-block;
  font-weight: 700;
  color: $color-shark;
  letter-spacing: -0.6px;
  margin-bottom: 3px;
}

.docs_color-preview {
  border-radius: 50%;
  border: 1px solid #aaa;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  width: 90px;
}
