@import '../../src/scss/settings/colours';

.example {
  &--inverted {
    padding: 2rem;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  .grid-row {
    margin-bottom: 2rem;

    > div {
      background: $color-white-lilac;
      border: solid 1px $color-secondary;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

[class*='rsg--'].docs_purple-block,
.docs_purple-block {
  background-color: $color-secondary;
  padding: 2rem;
}

[class*='rsg--'].docs_vertical-divider,
.docs_vertical-divider {
  display: flex;
  height: 150px;
}

[class*='rsg--'].docs_standalone-icon,
.docs_standalone-icon {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
}
