/*
  These classes can be used to apply layout directly to example code blocks. The use of 2 classes that work together
  help to keep the code blocks as clean as possible, without excess classes.
  When we release Layout and Spacing components, these classes can probably be replaced.

  The "docs__*" class should be applied directly to the jsx block.
  The "wrapper" class should be the first child in the block and will set styles appropriately

  For example: these 3 spans will each receive margin-right

  ```jsx { "props": { "className": "docs__horizontal-spacing" } }
  <div className="wrapper">
    <span>First</span>
    <span>Second</span>
    <span>Third</span>
  </div>
  ```
*/

.docs__layout-vertically {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

.docs__layout-horizontally {
  .wrapper {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      > * {
        margin-right: 1rem;
      }
    }
  }
}

.docs__simple-horizontal-spacing {
  .wrapper > * {
    margin-right: 1rem;
  }
}
