.docs__layout-vertically {
  .wrapper,
  .wrapperExtend > * {
    display: flex;
    flex-direction: column;
  }
}

.docs__layout-horizontally {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

.docs__horizontal-spacing {
  .wrapperExtend > * {
    margin-right: 1rem;
  }
}
