@import '../../packages/colours/colours';
@import '../../packages/css-reset/mixins';

@include flex-main

[class*='rsg--'].docs_purple-block,
.docs_purple-block {
  background-color: $color-secondary;
  padding: 2rem;
}

[class*='rsg--'].docs_hero,
.docs_hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 200px;
  padding: 2rem;

  background-image: url('../images/hero-background.jpg');
  background-size: cover;
}

.docs_selcounter-label {
  display: inline-block;
  font-weight: 700;
  color: $color-shark;
  letter-spacing: -0.6px;
  margin-bottom: 3px;
}

.docs_color-preview {
  border-radius: 50%;
  border: 1px solid #aaa;
  display: inline-block;
  height: 90px;
  line-height: 90px;
  width: 90px;
}

.docs_flex-grid-coloring {
  *[class*='TDS_Row-modules__'] {
    border: 1px dashed $color-shark;
  }

  *[class*='TDS_Col-modules__'] {
    background-color: $color-panache;
    border: 1px solid $color-shark;
  }
}

// Full width container with limited with parent: https://css-tricks.com/full-width-containers-limited-width-parents/
// Only activate with there is no sidebar
.rsg--root-1:not(*[class*='rsg--hasSidebar']) .docs_full-width-playground {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.docs_full-height-box {
  height: 100%;
}

.docs_svgicon-table {
  width: 100%;
  & thead th {
    text-align: left;
    font-weight: 700;
  }
  tr:nth-child(even) {
    background-color: $color-athens-grey;
  }
  td {
    vertical-align: middle;
    padding: 0.5rem 0;
  }
  td:first-child {
    padding-left: 0.5rem;
  }
}
