@import '~@tds/core-colours/colours';

@mixin add-skinny-underline {
  border-bottom: 0.05em solid currentColor;
  text-decoration: none;
}

@mixin clear-skinny-underline {
  border-bottom: 0.05em solid transparent;
}

.underlineOnHover {
  &:link,
  &:visited {
    @include add-skinny-underline;
  }

  &:hover {
    @include clear-skinny-underline;
  }
}

.base {
  composes: underlineOnHover;
  composes: focusOutline from '../../shared/styles/Links.modules.scss';

  &:link,
  &:visited {
    color: $color-shark;
  }
}

.inverted {
  composes: underlineOnHover;

  &:link,
  &:visited {
    color: $color-white;
  }
}

.inheritColor {
  composes: underlineOnHover;

  &:link,
  &:visited {
    color: inherit;
  }
}
