@import '~@tds/core-colours/colours';

@mixin add-skinny-underline {
  background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 100%, 100% 100%, 0 100%;
  text-decoration: none;
}

@mixin clear-skinny-underline {
  background-size: 0.05em 1px, 0.05em 1px, 1px 0;
}

.underlineOnHover {
  &:link,
  &:visited {
    @include add-skinny-underline;
  }

  &:hover {
    @include clear-skinny-underline;
  }
}

.base {
  composes: underlineOnHover;
  composes: focusOutline from '../../shared/styles/Links.modules.scss';

  &:link,
  &:visited {
    color: $color-shark;
  }
}

.inverted {
  composes: underlineOnHover;

  &:link,
  &:visited {
    color: $color-white;
  }
}

.inheritColor {
  composes: underlineOnHover;

  &:link,
  &:visited {
    color: inherit;
  }
}
