.base {
  composes: rounded from '../../shared/styles/Borders.modules.scss';
}

.default {
  composes: base;
  composes: default from '../../shared/styles/Messaging.modules.scss';
}

.success {
  composes: base;
  composes: success from '../../shared/styles/Messaging.modules.scss';
}

.error {
  composes: base;
  composes: error from '../../shared/styles/Messaging.modules.scss';
}
