@import '~telus-thorium-core/scss/settings/variables';
@import '~telus-thorium-core/scss/utility/mixins';
// Spinner
// ---------

.spinner-wrapper {
  position: relative;
  .spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 9999;
  }
}

.spinner-container {
  transition: opacity .3s, fliter 0.3s;
  &--loading {
    filter: blur(1.8px);
    opacity: .3;
  }
}

.spinner {
  display: none;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: auto;

  &--spinning {
    display: initial;
  }
}

.spinner__svg {
    animation-name: spinner-spinner-rotate;
    -webkit-animation-name: spinner-rotate;
    -moz-animation-name: spinner-rotate;
    animation-duration: 1.8s;
    -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    height: 100%;
    width: 100%;
}

.spinner__circle {
    animation: spinner-dash 1.7s ease-in-out infinite 0s, spinner-color 6s ease-in-out infinite -0.75s;
    -webkit-animation: spinner-dash 1.7s ease-in-out infinite 0s, spinner-color 6s ease-in-out infinite -0.75s;
    -moz-animation: spinner-dash 1.7s ease-in-out infinite 0s, spinner-color 6s ease-in-out infinite -0.75s;
}

.spinner__tip {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  top: -1.8rem;
}

// Keyframes
// --------

@keyframes spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}


