.base {
  padding-left: 40px;
}

.decimal {
  composes: base;

  list-style-type: decimal;
}

.upper-alpha {
  composes: base;

  list-style-type: upper-alpha;
}

.lower-alpha {
  composes: base;

  list-style-type: lower-alpha;
}
