/**

File:         _examples.scss
Description:  Styling for examples in-line with documentation

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Example styles

*/

.example {
  .grid-row {
    margin-bottom: 2rem;

    > div {
      background: #eee;
      border: solid 1px #ccc;
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }

  &--type {
    padding-left: 2rem;
  }
}

#example-hint {
  margin-top: 115px;
}

.type-examples {
  .grid-row {
    margin-bottom: 3rem;
  }

  .heading-2 {
    margin-top: 3rem;
  }
}

.doc-figure {
  &__legend {
    margin-top: 1.5rem;
  }
}
