$thorium-icon-font-prefix: '/assets/fonts';

@import 'telus-thorium-enriched';
@import "variables";
@import 'global';
@import 'typography';
@import 'layout';
@import 'header';
@import 'navigation';
@import 'page';
@import 'examples';
@import 'example_pages';
@import 'colours';
