// Global styles
@import '../settings/colours';
@import '../settings/typography';

* {
  background-repeat: no-repeat;
  box-sizing: border-box;

  // only OS X
  -moz-osx-font-smoothing: grayscale;

  // we put this here to overcome webkit bug when doing -webkit-transforms
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font: inherit;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: $font-telus;
  font-weight: 400;
  font-size: $font-size-base;
  font-kerning: normal;
}

body {
  background-color: $color-white;
  color: $color-text;
  line-height: 1.5;
}
