@import '../../scss/settings/colours';

.wrapper {
  composes: relative from '../Position.modules.scss';

  background-color: $color-white;
}

.select {
  composes: inputHeight from '../Forms.modules.scss';

  // Hide the arrows
  appearance: none;

  // Hide the arrows for IE
  &::-ms-expand {
    display: none;
  }
}

.iconsPosition {
  composes: absolute centerVertically from '../Position.modules.scss';
  composes: iconRight from '../../../shared/components/FormField/FormField.modules.scss';

  pointer-events: none;
}
