@import '../../scss/settings/colours';

.wrapper {
  composes: relative from '../Position.modules.scss';

  background-color: $color-white;
}

.select {
  composes: height from '../Forms.modules.scss';

  // Hide the arrows
  appearance: none;

  // Hide the arrows for IE
  &::-ms-expand {
    display: none;
  }
}

.positionSelectOnTop {
  composes: relative from '../Position.modules.scss';

  z-index: 2;

  background: transparent;
}

.iconsPosition {
  composes: absolute centerVertically from '../Position.modules.scss';
  composes: iconRight from '../FormField/FormField.modules.scss';

  z-index: 3;
}
