/**

File:         _helpers.scss
Description:  Helper classes and extensions

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Accessibility

*/

/* ---------------------------------------
  1.  Accessibility
----------------------------------------- */

// Visually hide an element without compromising accessibility.
%accessible-hide {
  border: 0;
  // clip has been deprecated but is still supported
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  // ensure there are spaces in sr text
  word-wrap: normal;
}
