.base {
  padding: 0;
  margin: 0;

  text-align: left;
}

.inheritColor {
  color: inherit;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
}

.centerAlign {
  text-align: center;
}
