@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.base {
  padding: 0;
  margin: 0;

  text-align: left;

  &.bold {
    @include helvetica-neue-medium-65;
  }
}

.small {
  composes: base;
  @include helvetica-neue-roman-55;

  font-size: .875rem;
  letter-spacing: -0.6px;
  line-height: 1.5;
}

.medium {
  composes: base;
  @include helvetica-neue-light-45;

  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
}

.large {
  composes: base;
  @include helvetica-neue-light-45;

  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 2;
}

.color {
  color: $color-text;
}

.inheritColor {
  color: inherit;
}
