@import '../../../scss/settings/spacing';

.marginLeft-2 {
  margin-left: $spacing-tight;
}

.marginLeft-3 {
  margin-left: $spacing-base;
}

.marginBottom-2 {
  margin-bottom: $spacing-tight;
}

.marginBottom-3 {
  margin-bottom: $spacing-base;
}
