@import '~@tds/core-colours/colours';
@import '../../scss/typography';

.wordBreak {
  word-wrap: break-word;
}

.baseSupSubScripts {
  position: relative;
  vertical-align: baseline;
  padding-left: 0.1em;
}

.sup {
  composes: baseSupSubScripts;

  top: -0.5em;
  font-size: 0.875rem;
}

.base {
  composes: wordBreak;

  font-size: inherit;
}

.baseFont {
  font-weight: inherit;
}

.small {
  composes: wordBreak;

  @include size-small;
}

.smallFont {
  @include helvetica-neue-roman-55;
}

.medium {
  composes: wordBreak;

  @include size-medium;
}

.mediumFont {
  @include helvetica-neue-light-45;
}

.large {
  composes: wordBreak;

  @include size-large;
}

.largeFont {
  composes: wordBreak;

  @include helvetica-neue-light-45;
}

.boldFont {
  composes: wordBreak;

  @include helvetica-neue-medium-65;
}

.color {
  color: $color-text;
}

.invertedColor {
  color: $color-white;
}

.inheritColor {
  color: inherit;
}

.blockText {
  display: block;
}
