@import '~@tds/core-colours/colours';

$font-telus: 'TELUS-Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-icons: 'TELUS Core Icons';

$font-size-base: 100%;

@mixin helvetica-neue-thin-35 {
  font-weight: 300;
}

@mixin helvetica-neue-light-45 {
  font-weight: 400;
}

@mixin helvetica-neue-roman-55 {
  font-weight: 500;
}

@mixin helvetica-neue-medium-65 {
  font-weight: 700;
}

@mixin size-small {
  font-size: 0.875rem;
  letter-spacing: -0.6px;
  line-height: 1.42857;
}

@mixin size-medium {
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
}

@mixin size-large {
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 1.6;
}

.wordBreak {
  word-wrap: break-word;
}

.baseSupSubScripts {
  position: relative;
  vertical-align: baseline;
  padding-left: 0.1em;
}

.sup {
  composes: baseSupSubScripts;

  top: -0.5em;
  font-size: 0.875rem;
}

.base {
  composes: wordBreak;

  font-size: inherit;
}

.baseFont {
  font-weight: inherit;
}

.small {
  composes: wordBreak;

  @include size-small;
}

.smallFont {
  @include helvetica-neue-roman-55;
}

.medium {
  composes: wordBreak;

  @include size-medium;
}

.mediumFont {
  @include helvetica-neue-light-45;
}

.large {
  composes: wordBreak;

  @include size-large;
}

.largeFont {
  composes: wordBreak;

  @include helvetica-neue-light-45;
}

.boldFont {
  composes: wordBreak;

  @include helvetica-neue-medium-65;
}

.color {
  color: $color-text;
}

.invertedColor {
  color: $color-white;
}

.inheritColor {
  color: inherit;
}

.blockText {
  display: block;
}
