@import '../../scss/settings/icons';
@import '../../scss/settings/colours';
@import '../../scss/utility/icons-utility';

// Unicode points of each icon's location within the font files.
$core-icon-codepoints: (
  CaretDown: "\f105",
  CaretUp: "\f106",
  Checkmark: "\f101",
  Chevron: "\f107",
  LeftChevron: "\f107",
  ExclamationPointCircle: "\f103",
  Expander: "\f113",
  Hamburger: "\f112",
  Incomplete: "\f104",
  Location: "\f110",
  Minus: "\f109",
  Plus: "\f108",
  QuestionMarkCircle: "\f102",
  Spyglass: "\f111",
  Times: "\f104"
);

.icon {
  @include core-icon;

  transition: color 0.1s linear;
}

.inherit {
  color: inherit;
}

.primary {
  color: $color-icon-primary;
}

.secondary {
  color: $color-icon-secondary;
}

.inverted {
  color: $color-white;
}

.error {
  color: $color-cardinal;
}

.disabled {
  color: $color-icon-disabled;
}

.fw {
  width: 1.09rem;
  text-align: center;
}

.size16px {
  font-size: 1 rem;
}

.size24px {
  font-size: 1.5rem;
}

.size48px {
  font-size: 3rem;
}

@each $name, $codepoint in $core-icon-codepoints {
  .iconCore#{$name}::before {
    // composes: icon; TODO: can't use composes inside sass @each and
    // composes doesn't quite make sense on the color modifiers
    content: $codepoint;
  }
}

.iconCoreLeftChevron::before {
  display: inline-block;
  transform: rotate(-180deg) translateY(1.5px);
}
