@import '../../scss/settings/icons';
@import '../../scss/settings/colours';
@import '../../scss/utility/icons-utility';

// Unicode points of each icon's location within the font files.
$core-icon-codepoints: (
  caretDown: "\f105",
  caretUp: "\f106",
  checkmark: "\f101",
  chevron: "\f107",
  leftChevron: "\f107",
  exclamationPointCircle: "\f103",
  expander: "\f113",
  hamburger: "\f112",
  incomplete: "\f104",
  location: "\f110",
  minus: "\f109",
  plus: "\f108",
  questionMarkCircle: "\f102",
  spyglass: "\f111",
  times: "\f104"
);

.icon {
  @include core-icon;

  transition: color 0.1s linear;
}

.primary {
  color: $color-icon-primary;
}

.secondary {
  color: $color-icon-secondary;
}

.inverted {
  color: $color-white;
}

.error {
  color: $color-cardinal;
}

.disabled {
  color: $color-icon-disabled;
}

.fw {
  width: 1.09rem;
  text-align: center;
}

.small {
  font-size: 1 rem;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 3rem;
}

@each $name, $codepoint in $core-icon-codepoints {
  .iconCore#{to-upper-case($name)}::before {
    // composes: icon; TODO: can't use composes inside sass @each and
    // composes doesn't quite make sense on the color modifiers
    content: $codepoint;
  }
}

.iconCoreLeftChevron::before {
  display: inline-block;
  transform: rotate(-180deg) translateY(1.5px);
}
