@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.sup {
  top: -.5em;
  position: relative;
  vertical-align: baseline;
}

.small {
  font-size: .875rem;
  letter-spacing: -0.6px;
  line-height: 1.5;
}

.smallSup {
  composes: sup;
  font-size: .875rem;
}

.smallFont {
  @include helvetica-neue-roman-55;
}

.medium {
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
}

.mediumSup {
  composes: sup;
  font-size: .875rem;
}

.mediumFont {
  @include helvetica-neue-light-45;
}

.large {
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 2;
}

.largeSup {
  composes: sup;
  font-size: .875rem;
}

.largeFont {
  @include helvetica-neue-light-45;
}

.boldFont {
  @include helvetica-neue-medium-65;
}

.color {
  color: $color-text;
}

.colorInverted {
  color: $color-white;
}
