@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.baseSupSubScripts {
  position: relative;
  vertical-align: baseline;
  padding-left: 0.1em;
}

.sup {
  font-size: 0.875rem;
}

.sup {
  composes: baseSupSubScripts;
  top: -0.5em;
}

.base {
  composes: wordBreak from '../../Typography.modules.scss';

  font-size: inherit;
}

.baseFont {
  font-weight: inherit;
}

.small {
  composes: wordBreak from '../../Typography.modules.scss';

  font-size: 0.875rem;
  letter-spacing: -0.6px;
  line-height: 1.42857;
}

.smallFont {
  @include helvetica-neue-roman-55;
}

.medium {
  composes: wordBreak from '../../Typography.modules.scss';

  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
}

.mediumFont {
  @include helvetica-neue-light-45;
}

.large {
  composes: wordBreak from '../../Typography.modules.scss';

  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 1.6;
}

.largeFont {
  composes: wordBreak from '../../Typography.modules.scss';

  @include helvetica-neue-light-45;
}

.boldFont {
  composes: wordBreak from '../../Typography.modules.scss';

  @include helvetica-neue-medium-65;
}

.color {
  color: $color-text;
}

.invertedColor {
  color: $color-white;
}

.inheritColor {
  color: inherit;
}
