@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.base {
  font-size: inherit;
}

.baseFont {
  font-weight: inherit;
}

.small {
  font-size: .875rem;
  letter-spacing: -0.6px;
  line-height: 1.5;

  .sup, .sub {
    position: relative;
    vertical-align: baseline;
    font-size: .875rem;
  }

  .sup {
    top: -.5em;
  }

  .sub {
    bottom: -.5em;
  }
}

.smallFont {
  @include helvetica-neue-roman-55;
}

.medium {
  font-size: 1rem;
  letter-spacing: -0.8px;
  line-height: 1.5;

  .sup, .sub {
    position: relative;
    vertical-align: baseline;
    font-size: .875rem;
  }

  .sup {
    top: -.5em;
  }

  .sub {
    bottom: -.5em;
  }
}

.mediumFont {
  @include helvetica-neue-light-45;
}

.large {
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 2;

  .sup, .sub {
    position: relative;
    vertical-align: baseline;
    font-size: .875rem;
  }

  .sup {
    top: -.5em;
  }

  .sub {
    bottom: -.5em;
  }
}

.largeFont {
  @include helvetica-neue-light-45;
}

.boldFont {
  @include helvetica-neue-medium-65;
}

.color {
  color: $color-text;
}

.colorInverted {
  color: $color-white;
}
