@import '../../scss/settings/variables';
@import '../../scss/utility/mixins';

.selector-counter {
  position: relative;
  display: inline-block;
  width: 100%;

  @include from-breakpoint(medium) {
    width: rem(178px);
  }

  @include from-breakpoint(xl) {
    width: rem(158px);
  }

  &__plain-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
  }

  &__button {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: auto;
    width: auto;
    background: transparent;

    &:last-child {
      top: 30px;
    }

    &:disabled {
      background: transparent;
    }
  }

  &__icon {
    color: $color-primary;

    &:hover {
      color: $color-primary;
    }

    .selector-counter--error &,
    .selector-counter--error button:disabled & {
      color: $color-cardinal;
    }

    .selector-counter--successful &,
    .selector-counter--successful button:disabled & {
      color: $color-primary;
    }

    button:disabled & {
      color: $color-shuttle-grey;
    }
  }
}

// FIXME: remove redundant specificity once global css styles (forms.scss) are removed
input.selector-counter__value.selector-counter__value {
  font-weight: 300;
  font-size: rem(44px);
  line-height: rem(44px);
  padding: 0 35px 0 25px;
  height: 52px;
  max-width: 100%;
  -moz-appearance: textfield;

  // Hide the built-in up/down arrows
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .selector-counter--error & {
    border-color: $color-cardinal;
  }

  .selector-counter--successful & {
    border-color: $color-primary;
  }
}
