@import '~@tds/core-colours/colours';

.primary {
  color: $color-icon-primary;
}

.secondary {
  color: $color-icon-secondary;
}

.inverted {
  color: $color-white;
}

.error {
  color: $color-cardinal;
}

.size16 {
  font-size: 1rem;
}

.size24 {
  font-size: 1.5rem;
}

.size48 {
  font-size: 3rem;
}

.svgBase {
  display: inline-flex;
}
.svgSize16 > svg {
  width: 16px;
  height: 16px;
}
.svgSize24 > svg {
  width: 24px;
  height: 24px;
}
.svgSize48 > svg {
  width: 48px;
  height: 48px;
}

.svgVariantDefault > svg {
  fill: $color-telus-purple;
}
.svgVariantAlternative > svg {
  fill: $color-shark;
}
.svgVariantInverted > svg {
  fill: $color-white;
}

.icon {
  font-family: 'TELUS Core Icons'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */

  display: inline-block;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1;
  vertical-align: middle;
}

.iconCaretDown {
  composes: icon;

  &::before {
    content: '\f105';
  }
}

.iconCaretUp {
  composes: icon;

  &::before {
    content: '\f106';
  }
}

.iconCheckmark {
  composes: icon;

  &::before {
    content: '\f101';
  }
}

.iconChevron {
  composes: icon;

  &::before {
    content: '\f107';
  }
}

.iconLeftChevron {
  composes: icon;

  &::before {
    content: '\f107';
    display: inline-block;
    transform: rotate(-180deg) translateY(1.5px);
  }
}

.iconExclamationPointCircle {
  composes: icon;

  &::before {
    content: '\f103';
  }
}

.iconExpander {
  composes: icon;

  &::before {
    content: '\f113';
  }
}

.iconHamburger {
  composes: icon;

  &::before {
    content: '\f112';
  }
}

.iconLocation {
  composes: icon;

  &::before {
    content: '\f110';
  }
}

.iconMinus {
  composes: icon;

  &::before {
    content: '\f109';
  }
}

.iconPlus {
  composes: icon;

  &::before {
    content: '\f108';
  }
}

.iconQuestionMarkCircle {
  composes: icon;

  &::before {
    content: '\f102';
  }
}

.iconSpyglass {
  composes: icon;

  &::before {
    content: '\f111';
  }
}

.iconTimes {
  composes: icon;

  &::before {
    content: '\f104';
  }
}
