@import '../../../scss/settings/colours';

.base {
  padding-left: 40px;
  position: relative;
  margin-bottom: 0.5rem;
}

.fixedWidth {
  width: 2rem;
}

// .icon {
//   color: $color-telus-purple;
// }
