@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.base {
  padding-left: 40px;
  position: relative;
  margin-bottom: 0.5rem;
}

.item {
  font-family: $font-icons;
}

.circle {
  composes: base;
}

.circleItem::before {
  // composes: item;
  font-family: $font-icons;

  display: block;
  position: absolute;
  content: '\002022';
  color: $color-telus-purple;
  left: -21px;
}

.checkmark {
  composes: base;
}

.checkmarkItem::before {
  // composes: item;
  font-family: $font-icons;

  content: "\f101";
  color: $color-primary;
  left: -33px;
}

.x {
  composes: base;
}

.xItem::before {
  // composes: item;
  font-family: $font-icons;

  content: "\f104";
  color: $color-cardinal;
  left: -33px;
}
