extends layout

block append vars
  - bodyclass = 'documentation'

block prepend title
  | #{ page.title + ' - '}

block content
  article.page.section.gradient
    header.content
      h1
        | #{ page.title }

    section.content
      != page.html
