extends examples-full

block content
  .container--limited-width.grid-pink
    .grid-row
      .medium-12
        h1 Adaptive
      .medium-4.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.
      .medium-4.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.
      .medium-4.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.

    .grid-row
      .medium-12
        h1 12 column grid
      .medium-1.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .medium-1.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.


  .container.grid-orange
    .grid-row
      .medium-12
        h1 Fluid
      .medium-4.grid-red
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.
      .medium-4.grid-yellow
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.
      .medium-4.grid-green
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis viverra, suscipit nunc vitae, euismod leo. Suspendisse hendrerit eros ligula, ut accumsan augue vehicula vel. Aliquam tincidunt quam in posuere lacinia. Vestibulum sed ultrices nunc. Donec tempus odio nisl, vel tempus lacus egestas pretium. Morbi a ultricies purus. Suspendisse potenti.
