extends examples

block content
  div.exmodule.ex-chameleon
    div.tds-container.tds-container--limited-width.container--coloured-bg
      div.tds-grid-row
        div.tds-small-6
          h3 Lorem, Ipsum, and Dolor sit amet
          p New customers lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin massa diam, mollis non elementum eu, porta sed eros.
        div.tds-small-6
          img(src='http://www.telus.com/business/assets/images/carousel/b2b-560x400-chameleon.jpg').ex-chameleon--img
  div.exmodule.ex-chameleon
    div.tds-container.tds-container--fluid.container--coloured-bg
      div.tds-grid-row
        div.tds-small-6
          h3 Lorem, Ipsum, and Dolor sit amet
          p New customers lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin massa diam, mollis non elementum eu, porta sed eros.
        div.tds-small-6
          img(src='http://www.telus.com/business/assets/images/carousel/b2b-560x400-chameleon.jpg').ex-chameleon--img
  div.exmodule.exmodule--shaded
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-large-3
          h3 Lorem Ipsum
          p Get up to lorem upsum dolor sit amet. Fast internet consectetur adipiscing elit.
        div.tds-large-6.tds-offset-large-3
          h3 Offset Lorem Ipsum
          p This box is offset by 3 columns. Proin massa diam, mollis non elementum eu, porta sed eros.
  div.exmodule.excards
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ♨
              a(href='#').excard__link Mobility
            p.excard__description Lorem ipsum dolor sit amet consectetur adipiscing.
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ☀
              a(href='#').excard__link Cloud Phone
            p.excard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ☎
              a(href='#').excard__link Internet
            p.excard__description Lorem ipsum dolor sit amet consectetur adipiscing.
      div.tds-grid-row
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ★
              a(href='#').excard__link Bundles
            p.excard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ♻
              a(href='#').excard__link Internet of Things
            p.excard__description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.tds-large-4
          div.excard
            header.excard__header
              i.excard__icon ♫
              a(href='#').excard__link Collaboration
            p.excard__description Lorem ipsum dolor sit amet consectetur adipiscing.
  div.exmodule.exmodule--shaded
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-small-3.push-large-9
          h3 Column A
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam.
        div.tds-small-6
          h3 Column B
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam.
        div.tds-small-3.pull-large-9
          h3 Column C
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam.
  div.exmodule
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-large-4.tds-medium-3.tds-small-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis.
        div.tds-large-4.tds-medium-3.tds-small-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis.
        div.tds-large-4.tds-medium-6.tds-small-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis.
  div.exmodule.exmodule--centered
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-small-12
          h2 How can we help you?
      div.tds-grid-row
        div.tds-small-3
          a(href='#') Roaming Packages
          p Find the right roaming package for your next trip.
        div.tds-small-3
          a(href='#') Store locator
          p Locate a store for your business support needs.
        div.tds-small-3
          a(href='#') Understand my bill
          p Learn how to interpret and pay your bill.
        div.tds-small-3
          a(href='#') Data manager
          p Learn how to save on wireless data usage
  div.exmodule.exmodule--shaded.exmodule--centered
    div.tds-container.tds-container--fluid
      div.tds-grid-row
        div.tds-large-12
          h2 Contact Us
          p Have a question? Ready to place an order?
      div.tds-grid-row
        div.tds-medium-4
          p
            a(href='#') Chat is offline
        div.tds-medium-4
          a(href='#')
            p Mobility
            p
              | 1-866-558-2273
              br
              | 8 a.m. - 5 p.m. local Mon - Fri
        div.tds-medium-4
          p
            a(href='#') Support
  div.exmodule
    div.tds-container.tds-container--limited-width
      div.tds-grid-row
        div.tds-small-12
          h2 Grid with maximum widths
      div.tds-grid-row
        div.tds-small-4
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis
        div.tds-small-8
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus nisi quam. Donec efficitur nulla sit amet erat fringilla, hendrerit consectetur risus condimentum. Pellentesque posuere, enim eu efficitur posuere, ligula dui efficitur purus, sed accumsan magna dui in lacus. Aliquam placerat dui vel turpis aliquam finibus. Mauris commodo, sem vitae tempor euismod, nisi lorem rutrum velit, quis ullamcorper augue ex non felis.
