extends examples

block content
  div.container.container--limited-width.type-examples

    form.container.container--limited-width.login-metric
      div.grid-row
        div.medium-6.large-5.login-metric__form
          h2
            != "Login to TELUS"
            br
            != "Business account."
          fieldset.tds-field
            label(for='email') Email address
            input(type='email', id='email')
          fieldset.tds-field
            label(for='password') Password
            input(type='password', id='password')
          div.button-row
            button(type='submit').tds-button.tds-button--primary Login
        div.medium-4.large-5.offset-medium-1.login-metric__copy
          h3 New to TELUS Business?
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mollis tortor eget sagittis.
          p
            a(href='#').tds-link.tds-link--descent Learn more
          p
            a(href='#').tds-link.tds-link--descent Register now

    form.container.container--limited-width
      div.grid-row
        div.field-col
          h2 A wide field
          fieldset.tds-field.tds-field--hinted
            label(for='query') What are you looking for?
            input(type='text', id='query', aria-describedby='some-hint')
            div.tds-hint
              button(aria-controls='some-hint').tds-button--plain.tds-hint__trigger
                span.accessible-hide Toggle search field description visibility
              span(aria-role='tooltip', aria-hidden='true')#some-hint.tds-hint__text Enter a few keywords related to your search.
          div.tds-field
            label.choice
              input(type='checkbox')
              span.tds-choice__text I agree to the Terms and Conditions
          div.button-row
            button(type='submit').tds-button.tds-button--primary Search

    hr

    .container.container--limited-width
      div.grid-row
        div.tds-field-col
          form#greeting-form
            h2 Input states
            div#hello-world-field.tds-field
              label(for='hello-world') Greeting text
              div#hello-world-description.tds-helper
                p.text--small
                  strong Follow these directions:
                ul.list.list--compact
                  li.list__item Enter the text "Hello, World!"
                  li.list__item Don't include the quotes
              div.tds-field__control
                input(type='text', id='hello-world', aria-describedby='hello-world-description')
            div.button-row
              button(type='submit')#greeting-button.tds-button.tds-button--primary Send Greeting

    hr

    .container.container--limited-width
      .grid-row
        .medium-4
          form#ten-sides.choice-states-example
            h2 Radio states
            fieldset.tds-field
              legend.heading-3 Which shape has 10 sides?
              label(for='decagon').tds-choice
                input(type='radio', id='decagon', name='ten-sided-shape', value='decagon')
                span.tds-choice__text Decagon
              label(for='nonagon').tds-choice
                input(type='radio', id='nonagon', name='ten-sided-shape', value='nonagon')
                span.tds-choice__text Nonagon
              label(for='octagon').tds-choice
                input(type='radio', id='octagon' name='ten-sided-shape', value='octagon')
                span.tds-choice__text Octagon
        .medium-6.offset-medium-2
          form#four-sides.choice-states-example
            h2 Checkbox states
            fieldset.tds-field
              legend.heading-3 Which has four or more sides?
              label(for='pentagon').tds-choice
                input(type='checkbox', id='pentagon', name='four-sided-shape', value='pentagon')
                span.tds-choice__text Pentagon
              label(for='square').tds-choice
                input(type='checkbox', id='square', name='four-sided-shape', value='square')
                span.tds-choice__text Square
              label(for='triangle').tds-choice
                input(type='checkbox', id='triangle', name='four-sided-shape', value='shape')
                span.tds-choice__text Triangle

    hr
