doctype html
block vars
  - var assetsUrl = (process.env.NODE_ENV === 'dev') ? locals.assetsUrl.dev : locals.assetsUrl.prod;
  - var dtmPageURL = page.url.replace(/^\//,"");
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name

      script.
        window.dataLayer = {
          page: {
            name: "#{dtmPageURL}"
          }
        };

      script(src='//assets.adobedtm.com/6462022b939758565769298a6393ed7a46ee6817/satelliteLib-1a62f312773f2a4b9eaa85dbf0ec0bb49095fd2e.js')

      link(rel='stylesheet', href='/assets/css/prism.css')
      link(rel='stylesheet', href='/assets/bundles/docs.css')

  body.ex-page
    header.docs-header
      .container.container--limited-width.docs-header__container
        a.docs-header__logo(href="/")
          img(src="/assets/images/logo.png" alt="Navigate to TDS homepage")

    main
      block content
        h2 Example Page

    script(src='/assets/js/styleguide.js')
    script(src='/assets/bundles/docs.js')
    script.
      _satellite.pageBottom();
