doctype html
block vars
  - var bodyclass = null;
  - var assetsUrl = (process.env.NODE_ENV === 'dev') ? locals.assetsUrl.dev : locals.assetsUrl.prod;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = locals.name

      link(rel='stylesheet', href='/assets/css/prism.css')
      link(rel='stylesheet', href='/assets/bundles/docs.css')

  body(class=bodyclass)
    header.docs-header
      .container.container--limited-width.docs-header__container
        button.button.docs-header__toggle
          i.icon.icon-core-hamburger.docs-header__icon
            span.accessible-hide Toggle Menu
        a.docs-header__logo(href="#nav-link")
          img(src="/assets/images/logo.png" alt="")

    main.container.container--limited-width
      div.grid-row
        div.medium-9.push-medium-3
          block content
            h2 Welcome to the TELUS Design System!
        nav.navigation.medium-3.pull-medium-9
          a(id="nav-link" name="nav-link" class="navigation__local-anchor--hidden")
          include nav.jade

    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
    script(src='https://unpkg.com/babel-core@5.8.38/browser.min.js')
    script(src='/assets/js/prism.js')
    script(src='/assets/bundles/docs.js')
    script.
      var toggle = document.querySelector('button.docs-header__toggle');
      var body = document.body;
      var resizeEventName = ('ontouchstart' in window) ? 'orientationchange' : 'resize';
      var navigation = document.querySelector('nav.navigation');
      var navigationItem = document.querySelectorAll('nav.navigation li a');
      var clickHandler = ('ontouchstart' in document.documentElement ? "touchstart" : "click");
      var menuVisible = false;

      toggle.addEventListener('click', function(){
        location.href = "#nav-link";
      });
