doctype html
block vars
  - var bodyclass = null;
  - var assetsUrl = (process.env.NODE_ENV === 'dev') ? locals.assetsUrl.dev : locals.assetsUrl.prod;
  - var isStaging = (process.env.NODE_ENV != 'production') ? '-staging': '';
  - var dtmPageURL = (page.url.replace(/^\//,"") == '') ? 'Homepage': page.url.replace(/^\//,"");
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
          
      script.
        window.dataLayer = {
          page: {
            name: "#{dtmPageURL}"
          }
        };

      script(src='//assets.adobedtm.com/6462022b939758565769298a6393ed7a46ee6817/satelliteLib-1a62f312773f2a4b9eaa85dbf0ec0bb49095fd2e#{isStaging}.js')

      link(rel='stylesheet', href='/assets/css/prism.css')
      link(rel='stylesheet', href='/assets/bundles/docs.css')
      link(rel='favicon' href='/favicon.ico')
      link(rel='favicon', sizes='32x32' href='/assets/images/TELUS-favicon-32.png')
      link(rel='favicon', sizes='128x128' href='/assets/images/TELUS-favicon-128.png')
      link(rel='apple-touch-icon', href='/assets/images/apple-touch-icon.png')
      link(rel='apple-touch-icon', sizes='72x72' href='/assets/images/TELUS-apple-touch-icon-72.png')
      link(rel='apple-touch-icon', sizes='114x114' href='/assets/images/TELUS-apple-touch-icon-114.png')
      link(rel='apple-touch-icon', sizes='144x144' href='/assets/images/TELUS-apple-touch-icon-144.png')

  body(class=bodyclass)
    header.docs-header
      .tds-container.tds-container--limited-width.docs-header__container
        button.tds-button--plain.docs-header__toggle
          i.tds-icon.tds-icon-core-hamburger.docs-header__icon
            span.tds-accessible-hide Toggle Menu
        a.docs-header__logo(href="/")
          img(src="/assets/images/logo.png" alt="Go back to Home page")

    main.tds-container.tds-container--limited-width
      div.tds-grid-row
        div.tds-large-9.tds-push-large-3
          block content
            h2 Welcome to the TELUS Design System!
        nav.navigation.tds-large-3.tds-pull-large-9
          a(id="nav-link" name="nav-link" class="navigation__local-anchor--hidden")
          include nav.jade

    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
    script(src='https://unpkg.com/babel-core@5.8.38/browser.min.js')
    script(src='/assets/js/prism.js')
    script(src='/assets/bundles/docs.js')
    script.
      var toggle = document.querySelector('button.docs-header__toggle');
      var body = document.body;
      var resizeEventName = ('ontouchstart' in window) ? 'orientationchange' : 'resize';
      var navigation = document.querySelector('nav.navigation');
      var navigationItem = document.querySelectorAll('nav.navigation li a');
      var clickHandler = ('ontouchstart' in document.documentElement ? "touchstart" : "click");
      var menuVisible = false;

      toggle.addEventListener('click', function(){
        location.href = "#nav-link";
      });
    script.
      _satellite.pageBottom();
