.b-nbs-contact {
  background-image: -webkit-linear-gradient(bottom, #fff 1%, #f5f5f5);
  background-image: linear-gradient(to top, #ffffff 1%, #f5f5f5);

  &__phone-numbers {
    margin-top: 30px;
  }
}

