@import '../../../src/scss/settings/spacing';

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url("./hero-background.jpg");
  background-size: cover;
  height: 200px;
  padding: $spacing-wide;
}
