@import '~@tds/core-responsive/responsive';
@import '~@tds/shared-typography/Typography.modules.scss';

.wrapperAlignment {
  text-align: left;
}

.priceWrapper {
  align-items: flex-end;

  &.small > span {
    line-height: 1;
  }
}
