@import '~@tds/core-colours/colours'; // be sure to add core-colours as a dependency first

.priceValueSign {
  display: flex;
}

.priceValueSignsmall {
  composes: h2 from '../Heading/Heading.modules.scss';
}

.priceValueSignmedium, .priceValueSignlarge {
  composes: h1 from '../Heading/Heading.modules.scss';
}

.priceWrapper {
  display: flex;
  align-items: flex-end;
}

.rateTextWrapper {
  span {
    vertical-align: 0.2rem;
  }
}

.dollarSignH1Style {
  font-size: 1.8rem;
}
