// TODO: general styles refactor
// TODO: re-evaluate these z indexes
$zindex-popover: 1600 !default;

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.container {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: auto;
  text-align: center;
}

.centered {
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  width: 100%;
}

.svg {
  z-index: $zindex-popover;
  animation-name: spinner-rotate;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 100%;
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}

.circle {
  animation: spinner-dash 1.7s ease-in-out infinite 0s, spinner-color 6s ease-in-out infinite -0.75s;
}
