@import '~@tds/core-colours/colours';

$zindex-popover: 1600;

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: $zindex-popover;
}

.svg {
  animation: spinner-rotate 1.8s linear infinite;
}

.circle-primary {
  stroke: $color-accessible-green;

  animation: spinner-dash 1.7s ease-in-out infinite 0s;
}

.circle-secondary {
  stroke: $color-secondary;

  animation: spinner-dash 1.7s ease-in-out infinite 0s;
}

.tip {
  margin-top: -1.5rem;
}
