.wave {
  width: 100%;
}

// SVG
.TDS_waveDivider_class1 {
  fill: none;
}

.TDS_waveDivider_class2 {
  opacity: 0.3;
}

.TDS_waveDivider_class3 {
  fill: url(#TDS_wave-divider_gradient);
}

.TDS_waveDivider_class4 {
  opacity: 0.2;
}

.TDS_waveDivider_class5,
.TDS_waveDivider_class7,
.TDS_waveDivider_class9 {
  opacity: 0.5;
  isolation: isolate;
}

.TDS_waveDivider_class5 {
  fill: url(#TDS_wave-divider_gradient-2);
}

.TDS_waveDivider_class6 {
  fill: url(#TDS_wave-divider_gradient-3);
}

.TDS_waveDivider_class7 {
  fill: url(#TDS_wave-divider_gradient-4);
}

.TDS_waveDivider_class8 {
  fill: url(#TDS_wave-divider_gradient-5);
}

.TDS_waveDivider_class9 {
  fill: url(#TDS_wave-divider_gradient-6);
}

.TDS_waveDivider_class10 {
  fill: url(#TDS_wave-divider_gradient-7);
}

.TDS_waveDivider_class11 {
  fill: url(#TDS_wave-divider_gradient-8);
}

.TDS_waveDivider_class12 {
  fill: url(#TDS_wave-divider_gradient-9);
}

.TDS_waveDivider_class13 {
  fill: url(#TDS_wave-divider_gradient-10);
}

.TDS_waveDivider_class14 {
  fill: url(#TDS_wave-divider_gradient-11);
}
