@import '~@tds/core-colours/colours';

.wrapper {
  composes: relative from '../../shared/styles/Position.modules.scss';

  background-color: $color-white;
}

.base {
  composes: height from '../../shared/styles/Forms.modules.scss';

  // Hide the arrows
  appearance: none;

  // Hide the arrows for IE
  &::-ms-expand {
    display: none;
  }
}

.iconsPosition {
  composes: absolute centerVertically from '../../shared/styles/Position.modules.scss';
  composes: iconRight from '../FormField/FormField.modules.scss';

  pointer-events: none;
}

.withFeedbackIcon {
  composes: base;
  padding: 0.5rem 4rem 0.5rem 1rem; // See: addRightPadding.js
}

.withoutFeedbackIcon {
  composes: base;
  padding: 0.5rem 3rem 0.5rem 1rem; // See: addRightPadding.js
}
