@import '../../../src/scss/settings/colours';
@import '../../../src/scss/utility/responsive';

.step-tracker {
  list-style: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1rem -1.5rem;

  @include from-breakpoint(medium) {
    padding-bottom: 2.5rem;
    margin: 1rem 0;
  }
}

.step-tracker__step {
  width: 100%;
  position: relative;
  text-align: center;
  height: 35px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 1.07rem);
    content: ' ';
    border-bottom: 0.1rem solid $color-shuttle-grey;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--completed {
    .step-tracker__icon {
      color: $color-white;
      background-color: $color-primary;

      &::before {
        font-family: 'TELUS Core Icons';
        content: '\F101';
      }
    }
  }

  &--processing {
    .step-tracker__icon {
      background-color: $color-primary;
    }

    .step-tracker__label {
      color: $color-primary;
    }
  }
}

.step-tracker__step:first-child {
  &::before {
    content: none;
  }
}

.step-tracker__step:last-child {
  &::after {
    content: none;
  }
}

.step-tracker__icon {
  display: inline-block;
  border: 0.1rem solid $color-primary;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 35px;
  height: 35px;

  &::before {
    font-family: 'TELUS Core Icons';
    line-height: 35px;
  }
}

.step-tracker__label {
  position: absolute;
  color: $color-shark;
  bottom: -3rem;
  left: 0;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  display: none;

  @include from-breakpoint(medium) {
    display: inline;
  }
}

.step-tracker__mobile-label {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: $color-primary;

  @include from-breakpoint(medium) {
    display: none;
  }
}

.step-tracker__mobile-label-step-info {
  color: $color-shark;
  font-size: 1rem;
}
