@import '../scss/settings/typography';

// Hardcode the height rather than relying on line-height, padding, and borders to ensure that form fields such as
//  buttons, inputs, and selects all have the same height.
// Browsers treat line height of input fields oddly, which makes it an unreliable method for aligning the height
//  of various elements.
// --> http://joshnh.com/weblog/line-height-doesnt-work-as-expected-on-inputs/
.height {
  height: 3.25rem; // 52px
}

// Ensure inputs and other form elements do not use the browser font.
.font {
  font-family: $font-telus;
}

// The tooltip is positioned absolutely and this is needed on the row that contains the tooltip so that the bubble
// has enough available width to be sized properly.
// TODO: Replace with Position.modules.scss --> .relative
.containsTooltip {
  position: relative;
}
