@import '~@tds/core-colours/colours';
@import '~@tds/core-responsive/responsive';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.step {
  width: 100%;
  position: relative;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    top: 17px;
    width: calc(50% - 1.07rem);
    content: ' ';
    border-bottom: 0.1rem solid $color-shuttle-grey;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  .icon {
    display: inline-block;
    border: 0.1rem solid $color-shuttle-grey;
    border-radius: 50%;
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
  }

  .label {
    position: relative;
    width: 100%;
    display: none;
    text-align: center;

    @include mq($from: md) {
      display: block;
    }
  }
}

.stepActive {
  composes: step;
  .icon {
    background-color: $color-primary;
    text-align: center;
    border: 0.1rem solid $color-primary;
  }
}

.step:first-child {
  &::before {
    content: none;
  }
}

.step:last-child {
  &::after {
    content: none;
  }
}

.mobileLabel {
  width: 100%;
  text-align: center;

  @include mq($from: md) {
    display: none;
  }
}
