@import '~@tds/core-colours/colours';

.base {
  position: relative;
}

.instructional {
  composes: default from '../../shared/styles/Messaging.modules.scss';
}

.branded {
  background-color: $color-white-lilac;
}

.success {
  composes: success from '../../shared/styles/Messaging.modules.scss';
}

.error {
  composes: error from '../../shared/styles/Messaging.modules.scss';
}

.withoutIcon {
  width: 100%;
}

.withIcon {
  width: calc(100% - 2.5rem);
}

.dismiss {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
