@import '../../../scss/settings/colours';
@import '../../../scss/utility/sass-mq';

.header {
  width: 100%;
  text-align: left;
}

.headerAlign {
  flex: 1;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}

.alignSelfFlexEnd {
  @include mq($until: md) {
    align-self: flex-end;
    transform: scale(0.8); //TODO: This is a hack! Remove when Text component is responsive.
  }
}
