@import '../../../scss/settings/colours';
@import '../../../scss/utility/sass-mq';

.header {
  width: 100%;
  text-align: left;
}

.headerAlign {
  flex: 1;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}

.alignSelfFlexEnd {
  @include mq($until: md) {
    align-self: flex-end;
    span:nth-child(1) {
      display: none;
    }
    span:nth-child(2) {
      display: initial;
    }
  }
  @include mq($from: md) {
    span:nth-child(1) {
      display: initial;
    }
    span:nth-child(2) {
      display: none;
    }
  }
}
