@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.header {
  width: 100%;
  text-align: left;
  font-family: $font-telus; /* FIX ME: we shouldn't have to do this because we are already using the Text components */
}

.headerAlign {
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.headerAlignDesktop {
  flex: 1;
  align-items: flex-start;
}

.disabled {
  background-color: $color-athens-grey;
  cursor: default;
}
