@import '~telus-thorium-core/scss/settings/variables';

.b-hero-wave-title__bg {
  background-image: url('./wave_header_default.png');
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 105px;
  margin-bottom: 48px;
  background-size: contain;
}

.b-hero-wave-title--grape {
  color: $color-grape;
}
