@import '../../../../scss/settings/colours';
@import '../../../../scss/settings/typography';

.item {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    left: -24px;
    font-family: $font-icons;
  }
}

.circle {
  composes: item;

  &::before {
    content: '\002022';
    color: $color-telus-purple;
  }
}

.checkmark {
  composes: item;

  &::before {
    content: "\f101";
    color: $color-primary;
  }
}

.x {
  composes: item;

  &::before {
    content: "\f104";
    color: $color-cardinal;
  }
}
