@import '../../../../scss/settings/colours';
@import '../../../../scss/settings/typography';

.item::before {
  font-family: $font-icons;
}

.circle {
  composes: item;

  &::before {
    display: block;
    position: absolute;
    content: '\002022';
    color: $color-telus-purple;
    left: -21px;
  }
}

.checkmark {
  composes: item;

  &::before {
    content: "\f101";
    color: $color-primary;
    left: -33px;
  }
}

.x {
  composes: item;

  &::before {
    content: "\f104";
    color: $color-cardinal;
    left: -33px;
  }
}
