.video-container-block {
  position: relative;
  padding-bottom: 53.10%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 33px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
