@import '~telus-thorium-core/scss/settings/variables';

.card {
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: $color-white;
  padding: 30px;
}
