.card {
  border: 1px solid #ddd;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  &--no-border {
    border: 0;
  }
}
