@import '../../scss/settings/variables';
@import '../../scss/utility/mixins';

.collapsible-panel {
  position: relative;

  &__label {
    background: transparent;
    border-radius: 0;
    display: flex;
    font-weight: 400;
    font-size: rem(20px);
    margin: 0;
    outline: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease-in;
    border: 0;
    cursor: pointer;
    letter-spacing: .2px;
    line-height: 1.2;
    font-family: $font-telus;

    .icon{
      color: $color-primary;
      position: absolute;
      transition: top .3s;
      top: 20px;
    }

    @include alt-state {
      .icon {
        top: 24px;
      }
    }

    &::after,
    &::before {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      background: $color-gainsboro;
      bottom: 0;
      height: 1px;
    }

    &::after {
      bottom: -20px;
      height: 20px;
    }

    &--expanded {

      &:hover {
        .icon {
          top: 18px;
        }
      }

      &::after {
        @include dimple();
        position: absolute;
        bottom: -32px;
      }
      &::before {
        height: 0;
      }
    }

    &--disabled {
      cursor: not-allowed;
      background: $color-athens-grey;
      .icon {
        color: $color-gainsboro;
      }

      @include alt-state {
        .icon {
          text-shadow: none;
          top: 20px;
        }
        border-top: none;
        &::before {
          background: $color-gainsboro;
        }
      }
      .collapsible-panel__header {
        color: $color-shuttle-grey;
        font-weight: 400;
      }
    }

    &--first {
      border-top: 1px solid $color-gainsboro;
    }

  }

  &__header {
    display: inline-block;
    margin-bottom: 0;
    color: $color-shark;
    position: relative;
  }

  &__icon {
    margin-right: 20px;
    font-size: 1.125rem;
    transition: all .5s;
    width: 18px;
    margin-top: 2px;
  }

  &__content {
    opacity: 0;
    margin: 0;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;

    &::before {
      background: $color-gainsboro;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &--visible {
      padding: 20px 0;
      opacity: 1;
    }
  }
}
