@import '../../../scss/settings/colours';
@import '../../../scss/settings/spacing';

.base {
  composes: rounded from '../../Borders.modules.scss';

  padding: $spacing-base;

  // transition: background-color .1s linear; TODO: Why?
}

.default {
  composes: base;

  background: $color-athens-grey;
}

.success {
  composes: base;

  background: $color-panache;
}

.error {
  composes: base;

  background-color: $color-lavender-blush;
}

// TODO: This is duplicated in Notification...
.errorText {
  color: $color-cardinal;
}
