@import '~@tds/core-responsive/responsive';

div.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.gutterless {
  padding: 0;
}

.xsHidden {
  @include mq($until: sm) {
    display: none;
  }
}

.smHidden {
  @include mq($from: sm) {
    display: none;
  }
}

.mdHidden {
  @include mq($from: md) {
    display: none;
  }
}

.lgHidden {
  @include mq($from: lg) {
    display: none;
  }
}

.xlHidden {
  @include mq($from: xl) {
    display: none;
  }
}

.xsVisible {
  @include mq($until: sm) {
    display: block;
  }
}

.smVisible {
  @include mq($from: sm, $until: md) {
    display: block;
  }
}

.mdVisible {
  @include mq($from: md, $until: lg) {
    display: block;
  }
}

.lgVisible {
  @include mq($from: lg, $until: xl) {
    display: block;
  }
}

.xlVisible {
  @include mq($from: xl) {
    display: block;
  }
}

@mixin horizontalAlignClasses ($breakpoint, $align) {
  .#{$breakpoint}HorizontalAlign-#{$align} {
    @include mq($from: $breakpoint) {
      text-align: $align;
    }
  }
}

$ALIGNMENT: (left, center, right);
@each $align in $ALIGNMENT {
  .xsHorizontalAlign-#{$align} {
    text-align: $align
  }
}
@each $breakpoint in map-keys($mq-breakpoints) {
  @each $align in $ALIGNMENT {
    @include horizontalAlignClasses($breakpoint, $align);
  }
}
