@import '~@tds/core-colours/colours';
@import '~@tds/shared-typography/Typography.modules.scss';

/* LABEL */

.alignCenter {
  align-items: center;
}

/* END LABEL */

/* FIELD */

.formField {
  width: 100%;

  margin: 0;
  // This vertical padding fixes an IE11 bug that was causing the input value to jump slightly and get cut off.
  composes: verticalPadding-2 horizontalPadding-3 from '../../../packages/Box/Box.modules.scss';

  composes: thin rounded from '../../styles/Borders.modules.scss';

  composes: font from '../../styles/Forms.modules.scss';
  composes: medium mediumFont color;

  outline: 0;

  text-overflow: ellipsis;

  &::placeholder {
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: $color-shuttle-grey;
  }
}

.defaultBoxShadow {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
}

.defaultBgColor {
  background-color: $color-white;
}

.default {
  composes: formField defaultBgColor defaultBoxShadow;

  border-color: $color-shuttle-grey;
}

.disabled {
  composes: formField;

  background-color: $color-athens-grey;
  border-color: transparent;
}

.focus {
  composes: formField defaultBgColor;

  border-color: transparent;
  box-shadow: 0 0 4px 1px $color-shuttle-grey;
}

.success {
  composes: formField defaultBgColor defaultBoxShadow;

  border-color: $color-primary;
}

.error {
  composes: formField defaultBgColor defaultBoxShadow;

  border-color: $color-cardinal;
}

/* END FIELD */

/* ICON */

.iconRight {
  right: 1rem;
}

/* END ICON */
