@import '~telus-thorium-core/scss/settings/variables';

.headline {
  background-image: url('//cdn.business.telus.digital/v2-assets/images/b4yb/headers/wave_header_default.png');
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 105px;
  margin-bottom: 48px;
  background-size: contain;
}

.grape {
  color: $color-grape;
}
