@import '../../src/scss/settings/colours';

.card {
  composes: none rounded from '../../src/components/Borders.modules.scss';
}

.white {
  composes: card;

  box-shadow: 0 0 16px 0 rgba(213, 213, 213, 0.5);
  background-color: $color-white;
}

.lavender {
  composes: card;

  background-color: $color-white-lilac;
}

.grey {
  composes: card;

  background-color: $color-athens-grey;
}
