@import '../../src/scss/settings/colours';

.card {
  composes: none rounded from '../../src/components/Borders.modules.scss';
}

.white {
  composes: card;

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: $color-white;
}

.lavender {
  composes: card;

  background-color: $color-white-lilac;
}

.grey {
  composes: card;

  background-color: $color-athens-grey;
}
