@import '../../scss/settings/colours';

$bubble-trigger-size: 16px;

$bubble-triangle-height: 10px;
$bubble-triangle-width: 7px;
$bubble-triangle-position: $bubble-triangle-width + 5px;

$bubble-position: $bubble-trigger-size * -0.5;

.wrapper {
  composes: fixLineHeight from '../Icons/IconWrapper.modules.scss';

  position: relative;
}

.trigger {
  composes: none from '../Borders.modules.scss';

  background: none;
  box-shadow: none;
  cursor: pointer;

  // FIXME: Without the 1px padding the icon gets clipped just barely. This is due to the odd sizing/positioning of
  //  the icon font
  // composes: noSpacing from '../Spacing.modules.scss';
  padding: 0 1px;
}

.baseBubble {
  composes: rounded from '../Borders.modules.scss';

  position: absolute;
  bottom: calc(100% + #{$bubble-triangle-height});

  min-width: 200px;
  max-width: 600px; // TODO: check what the value should be

  background-color: $color-white;
  box-shadow: 0 0 2px 0 $color-shark, 0 3px 2px 0 rgba(84, 89, 95, 0.25);

  // This is the bubble triangle
  &::before {
    display: block;
    position: absolute;
    content: '';

    bottom: $bubble-triangle-width * -1;

    border-width: $bubble-triangle-width;
    border-style: solid;
    border-color: transparent $color-white $color-white transparent;

    background-color: $color-white;
    box-shadow: 2px 2px 3px 0 rgba(42, 42, 44, 0.4);

    transform: rotate(45deg);
  }
}

.left {
  composes: baseBubble;

  right: $bubble-position;

  &::before {
    right: $bubble-triangle-position;
  }
}

.right {
  composes: baseBubble;

  left: $bubble-position;

  &::before {
    left: $bubble-triangle-position;
  }
}
