@import '../../../scss/settings/colours';
@import '../../../scss/settings/responsive-grid';
@import '../../../scss/settings/typography';
@import '../../../scss/utility/responsive';

.largeHeading {
  composes: noSpacing from '../../Spacing.modules.scss';

  color: $color-secondary;
  font-weight: 400;
}

.smallHeading {
  composes: noSpacing from '../../Spacing.modules.scss';

  color: $color-shark;
  letter-spacing: -.6px;
  font-weight: 700;
}

.inverted {
  color: $color-white;
}

.h1 {
  composes: largeHeading;

  font-size: 1.75rem;
  line-height: 1.29; // 36px
  letter-spacing: -1.6px;

  @include from-breakpoint(medium) {
    font-weight: 300;
    font-size: 2.75rem;
    line-height: 1.18; // 52px
    letter-spacing: 0;
  }
}

.h2 {
  composes: largeHeading;

  font-size: 1.5rem;
  line-height: 1.33; // 30px
  letter-spacing: -.4px;

  @include from-breakpoint(medium) {
    font-size: 1.75rem;
    line-height: 1.29; // 36px
    letter-spacing: -.8px;
  }
}

.h3 {
  composes: smallHeading;

  font-size: 1.25rem;
  line-height: 1.4; // 28px
}

.h4 {
  composes: smallHeading;

  font-size: 1rem;
  line-height: 1.25; // 20px
}
