@import '../../../scss/settings/colours';
@import '../../../scss/settings/responsive-grid';
@import '../../../scss/settings/typography';
@import '../../../scss/utility/responsive';

.sup {
  composes: baseSupSubScripts from '../Text/Text.modules.scss';
}

.sub {
  composes: baseSupSubScripts from '../Text/Text.modules.scss';
}

.largeHeading {
  composes: noSpacing from '../../Spacing.modules.scss';

  @include helvetica-neue-light-45;
}

.smallHeading {
  composes: noSpacing from '../../Spacing.modules.scss';

  @include helvetica-neue-medium-65;

  letter-spacing: -.6px;
}

.inverted {
  color: $color-white;
}

.secondary {
  color: $color-secondary;
}

.default {
  color: $color-text;
}

.h1 {
  composes: largeHeading;

  font-size: 1.75rem;
  line-height: 1.29; // 36px
  letter-spacing: -1.6px;

  .sup, .sub {
    font-size: 1.25rem;
  }

  .sup {
    top: -1em;
  }

  .sub {
    bottom: -.4em;
  }

  @include from-breakpoint(medium) {
    font-weight: 300;
    font-size: 2.75rem;
    line-height: 1.18; // 52px
    letter-spacing: 0;

    .sup {
      top: -1.3em;
    }

  }
}

.h2 {
  composes: largeHeading;

  font-size: 1.5rem;
  line-height: 1.33; // 30px
  letter-spacing: -.4px;

  .sup, .sub {
    font-size: 1rem;
  }

  .sup {
    top: -.8em;
  }

  .sub {
    bottom: -.4em;
  }

  @include from-breakpoint(medium) {
    font-size: 1.75rem;
    line-height: 1.29; // 36px
    letter-spacing: -.8px;

    .sup {
      top: -0.7em;
    }
  }
}

.h3 {
  composes: smallHeading;

  font-size: 1.25rem;
  line-height: 1.4; // 28px

  .sup, .sub {
    font-size: .875rem;
  }

  .sup {
    top: -.5em;
  }

  .sub {
    bottom: -.5em;
  }
}

.h4 {
  composes: smallHeading;

  font-size: 1rem;
  line-height: 1.25; // 20px

  .sup, .sub {
    font-size: .875rem;
  }

  .sup {
    top: -.5em;
  }

  .sub {
    bottom: -.5em;
  }
}
