@import '../../scss/settings/responsive-grid';
@import '../../scss/utility/responsive';

$spacing-base: 1rem; // 16px

$spacings: (
  1: $spacing-base * 0.25,
  2: $spacing-base * 0.5,
  3: $spacing-base,
  4: $spacing-base * 1.5,
  5: $spacing-base * 2,
  6: $spacing-base * 2.5,
  7: $spacing-base * 3,
  8: $spacing-base * 4
);

$responsive-spacings: (
  medium:
    (
      4: $spacing-base * 2,
      5: $spacing-base * 3,
      6: $spacing-base * 4,
      7: $spacing-base * 4.5,
      8: $spacing-base * 6
    )
);

$boxProps: ('margin': 'Margin', 'padding': 'Padding');

// Todo remove unneeded classes related to margin
@mixin spacingClasses ($level, $value) {
  @each $p, $v in $boxProps {
    .vertical#{$v}-#{$level} {
      #{$p}-top: $value;
      #{$p}-bottom: $value;
    }

    .horizontal#{$v}-#{$level} {
      #{$p}-left: $value;
      #{$p}-right: $value;
    }

    .right#{$v}-#{$level} {
      #{$p}-right: $value;
    }

    .bottom#{$v}-#{$level} {
      #{$p}-bottom: $value;
    }

    // TODO: refactor to not generate unnecessary .betweenBottomPadding-*
    .betweenBottom#{$v}-#{$level} > *:not(:last-child) {
      #{$p}-bottom: $value;
    }

    .betweenRight#{$v}-#{$level} > *:not(:last-child) {
      #{$p}-right: $value;
    }

    .left#{$v}-#{$level} {
      #{$p}-left: $value;
    }
  }
}

@mixin responsiveSpacingClasses ($bp, $map) {
  @include from-breakpoint($bp) {
    @each $level, $value in $map {
      @include spacingClasses($level, $value);
    }
  }
}

@each $level, $value in $spacings {
  @include spacingClasses($level, $value);
}

@each $bp, $map in $responsive-spacings {
  @include responsiveSpacingClasses($bp, $map);
}
