@import '../../../scss/settings/colours';
@import '../../../scss/settings/responsive-grid';
@import '../../../scss/utility/responsive';

$primary-bg-color: $color-primary;
$secondary-bg-color: $color-secondary;
$button-text-color: $color-white;

@mixin border {
  // Don't add a border because it changes the size of the button.
  // Box-shadow gives a "free" border using the text color.
  box-shadow: 0 0 0 1px;
}

.button {
  composes: none from '../../Spacing.modules.scss';
  composes: none rounded from '../../Borders.modules.scss';
  composes: medium boldFont from '../../Typography/Text/Text.modules.scss';
  composes: height font from '../../FormFields.modules.scss';

  display: block;

  width: 100%;
  padding: 0 2rem;

  cursor: pointer;

  background: none;
  transition: background 0.2s;
}

@include from-breakpoint(medium) {
  .button {
    display: inline-block;

    width: auto;
    min-width: 180px;
  }

  .button + .button {
    // Using < 20px to compensate for the extra margin which appears between inline-block
    // elements due to whitespace in the actual markup.
    margin-left: 1rem;
  }
}

.primary {
  composes: button;

  background-color: $primary-bg-color;
  color: $button-text-color;

  &:hover {
    @include border;

    background-color: $button-text-color;
    color: $primary-bg-color;
  }
}

.secondary {
  composes: button;

  background-color: $secondary-bg-color;
  color: $button-text-color;

  &:hover {
    @include border;

    background-color: $button-text-color;
    color: $secondary-bg-color;
  }
}

.inverted {
  composes: button;

  background-color: $button-text-color;
  color: $color-text;

  &:hover {
    @include border;

    background-color: transparent;
    color: $button-text-color;
  }
}

.centered {
  composes: rounded from '../../Borders.modules.scss';

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}
