/**

File:         buttons.scss
Description:  Telus button styles

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Defaults

/* ---------------------------------------
  1.  Defaults
----------------------------------------- */

button {
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  font-family: inherit;
  line-height: 1;
  font-size: inherit;
  border: 0;
}

button,
.button,
a.button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-family: $font-telus;
  font-size: rem(18px);
  font-weight: normal;
  letter-spacing: .2px;
  line-height: 1.166666;
  margin: 9px 0;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  transition: background .2s;
  width: 100%;

  @include from-breakpoint(medium) {
    display: inline-block;
    width: auto;
    vertical-align: top;

    + .button,
    + button {
      // Using < 20px to compensate for the extra margin which appears between inline-block
      // elements due to whitespace in the actual markup.
      margin-left: 16px;
    }

    + .button-link {
      margin-left: 34px;
    }

    &-link {
      + .button-link {
        margin-left: 40px;
      }

      + .button:not(.button-link) {
        margin-left: 40px;
      }
    }
  }

  &-primary {
    background-color: $color-green;
    color: $color-white;
    font-weight: 500;

    &:hover {
      background-color: $color-green-darker;
      color: $color-white;
    }
  }

  &-link {
    color: $color-green;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: $color-green-darker;
    }
  }

  &[disabled] {
    background-color: $color-grey-panel;
    color: $color-grey-dark;
  }
}
