/**

File:         forms.scss
Description:  Styles for various form elements live here.

    ◡◠ ✥ ◠◡

    Table of Contents:

    1. Defaults
    2. Textarea
    3. Helpers
    4. Selections

*/

/* ---------------------------------------
  1.  Defaults
---------------------------------------- */

input:not([type='radio']),
textarea,
select {
  border: 1px solid $color-grey-light;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .05);
  color: $color-grey-dark;
  font-family: $font-telus;
  font-size: rem($body-text-size);
  font-weight: 300;
  letter-spacing: .4px;
  line-height: $body-line-height;
  outline: 0;
  padding: 20px 15px 18px;
  width: 100%;

  .field & {
    margin-bottom: 18px;
  }

  @include from-breakpoint(medium) {
    letter-spacing: .5px;
  }
}

input {
  &:disabled {
    background-color: $color-grey-panel;
    border-color: $color-grey;
  }
}

label {
  display: inline-block;
  color: $color-grey-dark;
  font-weight: 400;
  margin-bottom: 3px;
}

/* ---------------------------------------
  2.  Textarea
---------------------------------------- */

textarea {
  height: 12em;
  padding-top: 18px;
  line-height: $body-line-height;
}

/* ---------------------------------------
  3.  Helpers
---------------------------------------- */

.helper {
  font-size: rem(16px);
  background: $color-grey-panel;
  padding: 11px 16px 16px;
  border-radius: 4px;
  margin-bottom: 11px;

  &--success {
    background: $color-green-panel;
  }

  &__list {
    margin: 0 0 0 2rem;
  }
}

/* ---------------------------------------
  4.  Selections
---------------------------------------- */

// Thickness of the green border when a radio input is checked
$radio-checked-stroke-size: 6px;

.choice {
  display: block;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 8px;
}

[type='radio'],
[type='checkbox'] {
  @extend %accessible-hide;

  cursor: pointer;

  &:checked {
    & + .choice__text {
      font-weight: 400;
    }
  }

  &:hover:not(:checked):not(:disabled) {
    & + .choice__text {
      &::before {
        border-color: $color-green;
        box-shadow: 0 0 0 1px rgba(35, 135, 0, .25);
      }
    }
  }

  &:active {
    & + .choice__text {
      &::before {
        border-color: $color-green-darker;
      }
    }
  }

  &:disabled {
    & + .choice__text {
      cursor: not-allowed;

      &::before {
        background: $color-grey-panel;
      }
    }
  }

  + .choice__text {
    position: relative;
    padding-left: 2em;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 0;
      border: solid 1px $color-grey;
      height: 22px;
      width: 22px;
      line-height: 1;
      transition: all .1s linear;
    }
  }
}

[type='radio'] {
  &:active {
    & + .choice__text {
      &::before {
        border-size: $radio-checked-stroke-size;
      }
    }
  }

  &:checked {
    & + .choice__text {
      &::before {
        border: solid $radio-checked-stroke-size $color-green;
      }
    }

    &:disabled {
      & + .choice__text {
        &::before {
          background: $color-grey;
          border: solid $radio-checked-stroke-size $color-grey-panel;
          box-shadow: 0 0 0 1px $color-grey;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  + .choice__text {
    &::before {
      border-radius: 50%;
    }
  }
}

[type='checkbox'] {
  &:checked {
    & + .choice__text {
      &::before {
        background: $color-green;
        border: none;
        content: '\f101';
      }
    }
  }

  + .choice__text {
    &::before {
      border-radius: 4px;
      color: white;
      font-family: $font-icons;
      font-size: 1rem;
      line-height: 1.4;
      text-align: center;
    }
  }
}
