@import '../../../styles/core';

.tile-image-text-link {
  padding: 0 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include from-breakpoint(small) {
    position: relative;
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
    padding-bottom: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.tile-image-text-link__title {
  margin-top: 1rem;

  @include from-breakpoint(small) {
    margin-top: 1.5rem;
  }
}

.tile-image-text-link__link {
  @include from-breakpoint(small) {
    position: absolute;
    left: 1rem;
    bottom: 0;
    margin: 0 !important;
  }
}

.tile-image-text-link__image {
  width: 100%;
}
