@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.link {
  @include telus-font-family;
  @include helvetica-neue-roman-55;

  composes: medium from '../../Typography/Text/Text.modules.scss';

  &:hover {
    .rightChevron {
      transform: translateX(0.25rem);
    }
    .leftChevron {
      transform: translateX(-0.25rem);
    }
  }
}

.primary {
  composes: link;

  &:link,
  &:visited {
    color: $color-primary;
  }
}

.secondary {
  composes: link;

  &:link,
  &:visited {
    color: $color-secondary;
  }
}

.inverted {
  composes: link;

  &:link,
  &:visited {
    color: $color-white;
  }
}

.chevron {
  display: inline-block;
  transition: transform 300ms;
}

.rightChevron {
  composes: chevron;

  margin-left: 0.5rem;
}

.leftChevron {
  composes: chevron;

  margin-right: 0.5rem;
}
