@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';

.link {
  font-size: $body-medium-text-size;

  &:hover {
    .rightChevron {
      transform: translateX(0.25rem);
    }
    .leftChevron {
      transform: translateX(-0.25rem);
    }
  }
}

.primary {
  composes: link;

  &:link {
    color: $color-primary;
  }
}

.secondary {
  composes: link;

  color: $color-secondary;
}

.inverted {
  composes: link;

  color: $color-white;
}

.chevron {
  display: inline-block;
  transition: transform 300ms;
}

.rightChevron {
  composes: chevron;

  margin-left: 0.5rem;
}

.leftChevron {
  composes: chevron;

  margin-right: 0.5rem;
}
