@import '~telus-thorium-core/scss/settings/variables';
@import '~telus-thorium-core/scss/utility/mixins';

.collapsible-panel {
  position: relative;

  &__label {
    background: transparent;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    margin: 0;
    outline: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease-in;

    .icon{
      color: $color-forest-green;
    }

    @include alt-state {
      border-top: 1px solid $color-shark;
      .icon {
        color: $color-forest-green;
      }
      &::before {
        background: $color-shark;
      }
    }

    &::after,
    &::before {
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      background: #d2d3d5;
      bottom: 0;
      height: 1px;
    }

    &::after {
      bottom: -20px;
      height: 20px;
    }

    &--expanded {
      &::after {
        @include tds-dimple();
        top: 60px;
      }
      &::before {
        height: 0;
      }

      @include alt-state {
        + .collapsible-panel__content {
          &::before {
            background: $color-shark;
          }
        }
      }
    }

    &--disabled {
      cursor: not-allowed;
      background: $color-athens-grey;
      .icon {
        color: $color-gainsboro;
      }
      @include alt-state {
        .icon {
          color: $color-gainsboro;
        }
        border-top: none;
        &::before {
          background: $color-gainsboro;
        }
      }
       .collapsible-panel__header {
        color: $color-raven;
      }
    }

    &--first.collapsible-panel__label--disabled {
      border-top: 1px solid $color-gainsboro;
      @include alt-state {
        border-top: 1px solid $color-gainsboro;
      }
    }

  }


  &__header {
    color: $color-shark;
    position: relative;
  }



  &__icon {
    margin: 0 5px;
    font-size: 1.125rem;
    transition: all .5s;
  }


  &__content {
    max-height: 0;
    opacity: 0;
    margin: 0;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;

    &::before {
      background: #d2d3d5;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &--visible {
      padding: 20px 0;
      @include from-breakpoint(large) {
        padding: 40px 0;
      }
      max-height: 500px;
      overflow-y: auto;
      opacity: 1;
    }
  }
}
