@import '../../../scss/settings/colours';
@import '../../../scss/settings/typography';
@import '../../../scss/settings/responsive-grid';
@import '../../../scss/utility/responsive';

.baseHeadingSupSubScripts {
  @include telus-font-family;
  position: relative;
  vertical-align: baseline;
}

.sup {
  composes: baseHeadingSupSubScripts;
}

.sub {
  composes: baseHeadingSupSubScripts;
}

.displayHeading {
  composes: noSpacing from '../../Spacing.modules.scss';

  @include helvetica-neue-thin-35;

  font-size: 2.75rem;
  line-height: 1.14; // 48px

  .sup, .sub {
    font-size: 1.25rem;
  }

  .sup {
    top: -1.2em;
  }

  .sub {
    bottom: -.5em;
  }

  @include from-breakpoint(medium) {
    font-size: 4.5rem;
    line-height: 1.11; // 80px
    letter-spacing: .2px;

    .sup {
      top: -2.2em;
    }
  }
}

.inverted {
  composes: displayHeading;

  color: $color-white;
}

.default {
  composes: displayHeading;

  color: $color-secondary;
}
