//Pattern - [element]-[attribute]--[modifier], e.g. block-color, block-color--mobile

$block-margin-bottom: 48px;
$block-margin-top: 48px;
$block-margin-bottom--mobile: 40px;
$secondary-nav-header-padding-top: 30px;
$titled-text-margin: 32px;
$mobile-card-margin-bottom: 32px;
$border-color: #ddd;
