// Utility Icons web font

@font-face {
  font-family: "TELUS Core Icons";
  src: url('#{$icon-font-prefix}/core-icons.eot');
  src:
    url('#{$icon-font-prefix}/core-icons.woff2') format('woff2'),
    url('#{$icon-font-prefix}/core-icons.woff') format('woff'),
    url('#{$icon-font-prefix}/core-icons.ttf') format('truetype'),
    url('#{$icon-font-prefix}/core-icons.eot?#iefix') format('eot');
  font-weight: normal;
  font-style: normal;
}

// Unicode points of each icon's location within the font files.
$core-icon-codepoints: (
  alert: "\f103", // Deprecated in v0.4.1, 10/5/16 - use "exclamation-point-circle"
  caret-down: "\f105",
  caret-up: "\f106",
  checkmark: "\f101",
  chevron: "\f107",
  close: "\f104", // Deprecated in v0.4.1, 10/5/16 - use "times"
  dash: "\f109", // Deprecated in v0.4.1, 10/5/16 - use "minus"
  exclamation-point-circle: "\f103",
  expander: "\f113",
  hamburger: "\f112",
  help: "\f102", // Deprecated in v0.4.1, 10/5/16 - use "question-mark-circle"
  incomplete: "\f104",
  location: "\f110",
  minus: "\f109",
  plus: "\f108",
  question-mark-circle: "\f102",
  spyglass: "\f111",
  times: "\f104"
);

// Get the unicode point for a given icon name
@function core-icon-codepoint($name) {
  @return map-get($core-icon-codepoints, $name);
}

.tds-icon {
  @include core-icon;

  transition: color .1s linear;

  &--primary {
    color: $color-icon-primary;
  }

  &--secondary {
    color: $color-icon-secondary;
  }

  &--error {
    color: $color-cardinal;
  }

  &--disabled {
    color: $color-icon-disabled;
  }

  &--fw {
    width: 1.09rem;
    text-align: center;
  }
}

@each $name, $codepoint in $core-icon-codepoints {
  .tds-icon-core-#{$name}::before {
    content: $codepoint;
  }
}

// The icon-fixed-color mixin implements those icons such as instructives
// which have a fixed color that's different from the primary icon color,
// and doesn't change on hover.
@mixin icon-fixed-color($fixed-color) {
  color: $fixed-color;

  &:hover {
    color: $fixed-color;
  }
}

.tds-icon-core-alert,
.tds-icon-core-exclamation-point-circle,
.tds-icon-core-incomplete {
  @include icon-fixed-color($color-cardinal);
}

.tds-icon-core-checkmark {
  @include icon-fixed-color($color-forest-green);
}

.tds-icon-core-expander,
.tds-icon-core-help,
.tds-icon-core-question-mark-circle {
  @include icon-fixed-color($color-shuttle-grey);
}
