// TELUS brand font

$font-url-prefix: "https://cdn.telus.digital/thorium/core/fonts"; /* stylelint-disable-line */

//
// Helvetica Neue Thin 35
//
@font-face {
  font-family: "TELUS-Web";
  font-style: normal;
  font-weight: 300;
  src:
    url("#{$font-url-prefix}/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"),
    url("#{$font-url-prefix}/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),
    url("#{$font-url-prefix}/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),
    url("#{$font-url-prefix}/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot");
}

//
// Helvetica Neue Light 45
//
@font-face {
  font-family: "TELUS-Web";
  font-style: normal;
  font-weight: 400;
  src:
    url("#{$font-url-prefix}/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"),
    url("#{$font-url-prefix}/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),
    url("#{$font-url-prefix}/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),
    url("#{$font-url-prefix}/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot");
}

//
// Helvetica Neue Roman 55
//
@font-face {
  font-family: "TELUS-Web";
  font-style: normal;
  font-weight: 500;
  src:
    url("#{$font-url-prefix}/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"),
    url("#{$font-url-prefix}/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),
    url("#{$font-url-prefix}/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),
    url("#{$font-url-prefix}/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot");
}

//
// Helvetica Neue Medium 65
//
@font-face {
  font-family: "TELUS-Web";
  font-style: normal;
  font-weight: 700;
  src:
    url("#{$font-url-prefix}/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"),
    url("#{$font-url-prefix}/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"),
    url("#{$font-url-prefix}/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"),
    url("#{$font-url-prefix}/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot");
}
