// Mobile-first responsive grid.

//
// Helpers
//

//Generate a width for a block that occupies the space of n columns, out of the
// given amount of total columns. Ex: columns(6, 12) produces a block that's
// 50% the width of its parent.
@mixin columns($n, $total-columns) {
  float: left;
  width: percentage($n / $total-columns);
}

// Generate margins for a block which is offset from the left by n columns out
// of the given total columns. Ex: offsetcolumns(3, 12) produces a block that's
// offset by 25%.
@mixin offsetcolumns($n, $total-columns) {
  float: left;
  margin-left: percentage($n / $total-columns);
}

@mixin pullcolumns($n, $total-columns) {
  position: relative;
  right: percentage($n / $total-columns);
}

@mixin pushcolumns($n, $total-columns) {
  position: relative;
  left: percentage($n / $total-columns);
}

//
// Rows & columns
//

.tds-container {
  @include clearfix;

  margin: 0 auto;

  // Containers are 100% wide be default. The --limited-width modifier causes
  // the container to have a max width at each breakpoint. See _variables.scss
  // for those pixel values.
  &--limited-width {
    @each $viewport, $max-width in $max-widths {
      @include from-breakpoint(#{$viewport}) {
        max-width: $max-width;
      }
    }
  }

  &--fluid {
    padding: 0 $gutter / 2;
  }
}

// Rows are horizontal groups of columns.
.tds-grid-row {
  @include clearfix();

  margin: 0 ($gutter / 2) * -1;
}

@include at-breakpoint(xs) {
  .tds-container--limited-width {
    .tds-grid-row {
      margin: 0;
    }
  }

  .container--limited-width {
    .grid-row {
      margin: 0;
    }
  }
}

// Generate the column and offset-column classes for each breakpoint and viewport.
@each $size, $count in $columns {
  [class^="tds-#{$size}-"],
  [class*=" tds-#{$size}-"] {
    padding: 0 $gutter / 2;
  }

  @for $num from 1 through $count {
    @include from-breakpoint(#{$size}) {
      .tds-#{$size}-#{$num} {
        @include columns($num, $count);
      }

      .tds-offset-#{$size}-#{$num} {
        @include offsetcolumns($num, $count);
      }

      .tds-pull-#{$size}-#{$num} {
        @include pullcolumns($num, $count);
      }

      .tds-push-#{$size}-#{$num} {
        @include pushcolumns($num, $count);
      }
    }
  }

  @include at-breakpoint(#{$size}) {
    .tds-offset-#{$size}-0 {
      margin-left: 0;
    }

    .tds-pull-#{$size}-0 {
      right: 0;
    }

    .tds-push-#{$size}-0 {
      left: 0;
    }
  }

  @include from-breakpoint(#{$size}) {
    .tds-hidden-#{$size}-up {
      display: none !important;
    }
  }

  @include at-breakpoint(#{$size}) {
    .tds-hidden-#{$size} {
      display: none !important;
    }
  }
}

//
// Forums grid
//

// .field-col is helper class which constrains a field to the maximum recommended
// width at each breakpoint. It's basically an alias for .medium-7.large-5.xl-4
.tds-field-col {
  padding: 0 $gutter / 2;

  @include from-breakpoint(medium) {
    @include columns(7, 12);
  }

  @include from-breakpoint(large) {
    @include columns(5, 12);
  }

  @include from-breakpoint(xl) {
    @include columns(4, 12);
  }
}

// There should be more spacing between fields & buttons, than between consecutive
// fields. The .button-row class adds that extra spacing. It can be used by itself,
// or mixed with a .grid-row block.
.tds-button-row {
  @include clearfix();

  padding-top: 20px;
}
