// Global font styles.
//
// Use 'em' if the property scales according to its font-size. For everything
// else, use 'rem'.

//
// Default text
//

body {
  color: $color-text;
  font-weight: 400;
  font-size: rem($body-text-size);
}

//
// Headings
//
.tds-h1--display {
  color: $color-secondary;
  font-size: rem(44px);
  line-height: 1.14; // 48px
  font-weight: 300;
  margin-bottom: baseline-margin(48px);

  @include from-breakpoint(medium) {
    font-size: rem(72px);
    line-height: 1.11; // 80px
    letter-spacing: .2px;
  }
}

%h1 {
  font-weight: 400;
  font-size: rem(28px);
  line-height: 1.29; // 36px
  letter-spacing: -1.6px;
  color: $color-secondary;
  margin-bottom: baseline-margin(48px);

  @include from-breakpoint(medium) {
    font-weight: 300;
    font-size: rem(44px);
    line-height: 1.18; // 52px
    letter-spacing: 0;
  }
}

%h2 {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 1.33; // 30px
  letter-spacing: -.4px;
  color: $color-secondary;
  margin-bottom: baseline-margin(40px);

  + .subhead,
  + .field {
    padding-top: rem(8px);
  }

  @include from-breakpoint(medium) {
    font-weight: 400;
    font-size: rem(28px);
    line-height: 1.29; // 36px
    letter-spacing: -.8px;
  }
}

%h3 {
  font-weight: 700;
  font-size: rem(20px);
  line-height: 1.4; // 28px
  letter-spacing: -.6px;
  color: $color-shark;
  margin-bottom: baseline-margin(48px);
}

%h4 {
  font-weight: 700;
  font-size: rem(16px);
  letter-spacing: -.6px;
  color: $color-shark;
  line-height: 1.25; // 20px
  margin-bottom: baseline-margin(40px);
}

//
// Bold & italic
//

%strong {
  font-weight: 500;
}

%italic {
  font-style: italic;
}

//
// Paragraph text
//

%paragraph {
  font-size: rem($body-text-size);
  line-height: $body-line-height; // 32px
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

%text--medium {
  font-size: rem($body-medium-text-size);
  line-height: $body-medium-line-height;
  letter-spacing: -.8px;
}

%text--small {
  // The 14px "small" text isn't readable on small viewports, so it's not		 +  font-size: rem($body-medium-text-size);
  // applied until the medium breakpoint.		 +  line-height: $body-medium-line-height; // 20px;
  @extend %text--medium;

  @include from-breakpoint(medium) {
    font-size: rem($body-small-text-size);
    line-height: $body-small-line-height; // 24px;
    letter-spacing: -.6px;
  }
}

//
// sup/sub
//
%text--sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

%text--sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -.25em;
}

.tds-h1 {
  @extend %h1;
}

.tds-h2 {
  @extend %h2;
}

.tds-h3 {
  @extend %h3;
}

.tds-h4 {
  @extend %h4;
}

.tds-strong {
  @extend %strong;
}

.tds-italic {
  @extend %italic;
}

.text {
  @extend %paragraph;
}

.text--medium {
  @extend %text--medium;
}

.text--small {
  @extend %text--small;
}

.text--sup {
  @extend %text--sup;
}

.text--sub {
  @extend %text--sub;
}

@if $tds-style-html-tags == true {
  h1 {
    @extend %h1;
  }

  h2 {
    @extend %h2;
  }

  h3 {
    @extend %h3;
  }

  h4 {
    @extend %h4;
  }

  strong {
    @extend %strong;
  }

  em {
    @extend %italic;
  }

  p {
    @extend %paragraph;

    a {
      text-decoration: underline;
    }
  }

  small {
    @extend %text--small;
  }

  sup {
    @extend %text--sup;
  }

  sub {
    @extend %text--sub;
  }
}

//
// Sub-headings
//
// Deprecated in v0.5.0, 10/18/16
// Use h3 for "subhead" text
// Use h4 for "subhead--small" text
//

.subhead {
  @warn ".subhead is now deprecated, use h3 instead";

  font-weight: 500;
  font-size: rem(19px);
  line-height: 1.7;
  margin-bottom: baseline-margin(40px);

  &--small {
    @warn ".subhead--small is now deprecated, use h4 instead";

    font-size: rem(16px);
    line-height: 1.5;
    margin-bottom: baseline-margin(40px);
  }
}
