// Global font styles.
//
// Use 'em' if the property scales according to its font-size. For everything
// else, use 'rem'.

//
// Default text
//

body {
  color: $color-text;
  font-weight: 400;
  font-size: rem($body-text-size);
}

//
// Headings
//

// p + h2, p + h3, p + h4 {
h2:not([class]),
h3:not([class]),
h4:not([class]) {
  margin-top: 1.5em;
}

h2:not([class]):first-child,
h3:not([class]):first-child,
h4:not([class]):first-child {
  margin-top: 0;
}

.display-heading-1 {
  color: $color-grape;
  font-size: rem(44px);
  line-height: 1.14; // 48px
  font-weight: 300;
  margin-bottom: baseline-margin(48px);

  @include from-breakpoint(medium) {
    font-size: rem(72px);
    line-height: 1.11; // 80px
    letter-spacing: .2px;
  }
}

h1,
.heading-1 {
  font-weight: 400;
  font-size: rem(28px);
  line-height: 1.29; // 36px
  letter-spacing: -1.6px;
  color: $color-grape;
  margin-bottom: baseline-margin(48px);

  @include from-breakpoint(medium) {
    font-weight: 300;
    font-size: rem(44px);
    line-height: 1.18; // 52px
    letter-spacing: 0;
  }
}

h2,
.heading-2 {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 1.33; // 30px
  letter-spacing: -.4px;
  color: $color-grape;
  margin-bottom: baseline-margin(40px);

  + .subhead,
  + .field {
    padding-top: rem(8px);
  }

  @include from-breakpoint(medium) {
    font-weight: 400;
    font-size: rem(28px);
    line-height: 1.29; // 36px
    letter-spacing: -.8px;
  }
}

h3,
.heading-3 {
  font-weight: 700;
  font-size: rem(20px);
  line-height: 1.4; // 28px
  letter-spacing: -.6px;
  color: $color-shark;
  margin-bottom: baseline-margin(48px);
}

h4,
.heading-4 {
  font-weight: 700;
  font-size: rem(16px);
  letter-spacing: -.6px;
  color: $color-shark;
  line-height: 1.25; // 20px
  margin-bottom: baseline-margin(40px);
}

//
// Sub-headings
//
// Deprecated in v0.5.0, 10/18/16
// Use h3 for "subhead" text
// Use h4 for "subhead--small" text
//

.subhead {
  font-weight: 500;
  font-size: rem(19px);
  line-height: 1.7;
  margin-bottom: baseline-margin(40px);

  &--small {
    font-size: rem(16px);
    line-height: 1.5;
    margin-bottom: baseline-margin(40px);
  }
}

//
// Bold & italic
//

strong,
.strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

//
// Paragraph text
//

p,
.text {
  font-size: rem($body-text-size);
  line-height: $body-line-height; // 32px
  letter-spacing: -1px;
  margin-bottom: 1rem;

  a {
    text-decoration: underline;
  }
}

%text--medium {
  font-size: rem($body-medium-text-size);
  line-height: $body-medium-line-height;
  letter-spacing: -.8px;
}

.text--medium {
  @extend %text--medium;
}

small,
.text--small {

  // The 14px "small" text isn't readable on small viewports, so it's not		 +  font-size: rem($body-medium-text-size);
  // applied until the medium breakpoint.		 +  line-height: $body-medium-line-height; // 20px;
  @extend %text--medium;

  @include from-breakpoint(medium) {
    font-size: rem($body-small-text-size);
    line-height: $body-small-line-height; // 24px;
    color: $color-raven;
    letter-spacing: -.6px;
  }
}

//
// Links
//

.link,
&:link,
&:visited {
  color: $color-link;
  text-decoration: underline;

  &:hover {
    color: $color-link-hover;
  }
}

.chevron-link,
.chevron-link:link,
.chevron-link:visited {
  @include chevron-links($color-grape);
}

.chevron-link--secondary,
.chevron-link--secondary:link,
.chevron-link--secondary:visited {
  @include chevron-links($color-japanese-laurel);
}

.link--inverted,
.link--inverted:link,
.link--inverted:visited,
.chevron-link--inverted,
.chevron-link--inverted:link,
.chevron-link--inverted:visited {
  color: $color-athens-grey;

  &:hover {
    color: $color-white;
  }
}

.link--descent,
.link--descent:link,
.link--descent:visited {
  @include clear-descenders($color-link, $color-white);

  &.link--inverted {
    @include clear-descenders($color-athens-grey, $color-grape);
  }
}

//
// sup/sub
//
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
