@import '~@tds/core-colours/colours';
@import '~@tds/core-responsive/responsive';
@import '~@tds/shared-typography/Typography.modules.scss';

.sup {
  composes: baseSupSubScripts;
}

.h1 {
  composes: wordBreak;
  composes: noSpacing from '../../shared/styles/Spacing.modules.scss';

  @include helvetica-neue-light-45;

  font-size: 1.75rem;
  line-height: 1.29; // 36px
  letter-spacing: -1.6px;

  .sup {
    font-size: 1.25rem;
    top: -1em;
  }

  @include mq($from: md) {
    @include helvetica-neue-thin-35;

    font-size: 2.75rem;
    line-height: 1.18; // 52px
    letter-spacing: 0;

    .sup {
      font-size: 1.25rem;
      top: -1.3em;
    }
  }
}

.h2 {
  composes: wordBreak;
  composes: noSpacing from '../../shared/styles/Spacing.modules.scss';
  @include helvetica-neue-light-45;

  font-size: 1.5rem;
  line-height: 1.33; // 30px
  letter-spacing: -0.7px;

  .sup {
    font-size: 1rem;
    top: -0.8em;
  }

  @include mq($from: md) {
    font-size: 1.75rem;
    line-height: 1.29; // 36px
    letter-spacing: -0.8px;

    .sup {
      font-size: 1rem;
      top: -0.7em;
    }
  }
}

.smallHeading {
  composes: wordBreak;
  composes: noSpacing from '../../shared/styles/Spacing.modules.scss';

  @include helvetica-neue-medium-65;

  letter-spacing: -0.6px;
}

.h3 {
  composes: smallHeading;

  font-size: 1.25rem;
  line-height: 1.4; // 28px

  .sup {
    font-size: 0.875rem;
    top: -0.5em;
  }
}

.h4 {
  composes: smallHeading;

  font-size: 1rem;
  line-height: 1.25; // 20px

  .sup {
    font-size: 0.875rem;
    top: -0.5em;
  }
}

.inverted {
  color: $color-white;
}

.secondary {
  color: $color-secondary;
}

.default {
  color: $color-text;
}
