@import '../../../scss/settings/spacing';

.evenMarginBottom-1 {
  composes: column from '../../Flexbox.modules.scss';

  > * {
    margin-bottom: $spacing-x-tight;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
