.interactive {
  composes: noSpacing from '../../Spacing.modules.scss';
  composes: none from '../../Borders.modules.scss';

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: none;

  cursor: pointer;
}
