$zindex-modal-backdrop: 1400;

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: $zindex-modal-backdrop;
}

.opaque {
  opacity: 0.06;
}

.inline {
  display: inline-block;
}
