// TODO: re-evaluate these z indexes
$zindex-modal-backdrop: 1400 !default;

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: $zindex-modal-backdrop;
}

.opaque {
  // TODO: reimplement opacity transition using an Animation component
  opacity: 0.1;
}
